body {
    font-family: 'Lexend', sans-serif;
    background-color: beige;
    background: url(backgroundimage.jpg) no-repeat;
}

header {
    font-size: 30px;
    text-align: center;
    color: #fff
}

.form {
    display: flex;
    justify-content: center;
    margin: 50px;
}

footer {
    text-align: center;
}

#container > section {
    color: black;
    font-size: 25px;
}

.inputbox {
    margin: 30px 0;
}

#login {
    width: 100%;
    height: 50px;
    border: 1px solid black;
    background-color: #fff;
    text-decoration: none;
    border-radius: 15px;
    font-size: 20px;
    font-family: 'Lexend', sans-serif;
}

#login:hover {
    background-color:cornflowerblue;
    transition: 0.5s;
}

footer {
    color:black;
    font-weight: 600;
}

#email {
    width: 100%;
    height: 30px;
    font-family: 'Lexend', sans-serif;
}

#password {
    width: 100%;
    height: 30px;
    font-family: 'Lexend', sans-serif;
}

.forget > a:hover {
    color: yellow;
    transition: 0.25s;
}