<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="org.css" type="text/css">
    <link href="navigationBar.css" rel="stylesheet" type="text/css">
    <title>create an org</title>
</head>
<body>
    <div class="grid-container" id="blur">
        <nav class="sidenav">
            <div id="logo">
                <p>Pingispals<p class="redDot">.</p></p>
            </div>
            <a id="home" href="#">Home</a>
            <a id="search" href="#">Search</a>
            <a id="leaderboards" href="#" class="active">Clubs</a>
            <a id="challenges" href="#">Challenges</a>
            <a id="profile" href="#">Profile</a>
        </nav>
        <nav id="searchfield">
            <form>
                <input type="text" placeholder="Search">
            </form>
        </nav>
        <nav id="leaderboardoptions">
            <div id="leaderboardoptionsbuttons">
                <button type="button" id="addserver" onclick="leaderboardpopup()"></button>
                <button type="button" id="findserver"></button>
            </div>
            <div id="clublinks">
                <ul id="clublinkslist"></ul>
            </div>
        </nav>
        <section>
            <h1 id="itemCenter">Create New Club</h1>
            <form id="createOrgForm" action="/createOrg" method="post" enctype="multipart/form-data">
                <label for="tableName"> Club Name:
                    <input id="tableName" name="tableName" type="text" placeholder="Club name" maxlength="25" required>
                </label><br>
                <label for="tableDescription"> Club Description: <br>
                    <textarea name="tableDescription" id="tableDescription" cols="33" rows="10" placeholder="Describe your club" maxlength="255"></textarea>
                </label><br>
                <label for="image"> Image for club:
                    <input type="file" name="image" id="image" required>
                </label>
                <button type="submit">Create Club</button>
                <p id="error-message"></p>
            </form>                
        </section>
        <div id="leaderboardpopup">
            <button id="exitpopup" onclick="exitpopup()"></button>
            <h1>Join a Club</h1>
            <p>Enter a clubs name below to join their leaderboard.</p>
            <form id="join-club-form">
                <label>Club name</label>
                <div id="joinformfield">
                    <input type="text" id="join-club-input" placeholder="club#123" required>
                    <button type="submit" id="join-club-button">Join Club</button>
                </div>
                <div id="join-club-success"></div>
                <div id="join-club-error"></div>
            </form>
            <div id="findclub" role="button" onclick="window.location.href='/findclub'">
                <img src="compasswhite.png" id="compasswhite">
                <div id="findclubtext">
                    <h2>Don't know a clubs name?</h2>
                    <p>Check out the current Clubs in Club Discovery</p>
                </div>
                <img src="right-arrowblack.png" id="rightarrowblack">
            </div>
            <footer id="popupfooter">
            <p>Want to create you own club?</p>
            <button id="createorg-btn" onclick="window.location.href='/createOrg'">Create your own Club</button>
            </footer>
        </div>
    </div>
    <script src="createOrgScripts.js"></script>
    <script src="navbarScript.js"></script>
</body>
</html>
