<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Challenges</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="/gamechallengestyle.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="grid-container" id="blur">
        <nav class="sidenav">
            <div id="logo">
                <p>Pingispals<p class="redDot">.</p></p>
            </div>
            <a id="home" href="/home">Home</a>
            <a id="search" href="#">Search</a>
            <a id="leaderboards" href="#">Clubs</a>
            <a id="challenges" href="#">Challenges</a>
            <a id="profile" href="/editprofile">Profile</a>
        </nav>
        <nav id="searchfield">
            <form>
                <input type="text" placeholder="Search">
            </form>
        </nav>
        <nav id="leaderboardoptions">
            <div id="leaderboardoptionsbuttons">
                <button type="button" id="addserver" onclick="leaderboardpopup()"></button>
                <button type="button" id="findserver"></button>
            </div>
            <div id="clublinks">
                <ul id="clublinkslist"></ul>
            </div>
        </nav>
        <div id="content">
            <main id="profile-card">
                <header id="headerbackground">
                </header>
                <header id="headercontent">
                <!-- Add fetched profile image in "profile-image"-->
                    <img id="profile-image" src="">
                    <!-- Add fetched username in "username"-->
                    <div id="headertext">
                        <p id="username"></p>
                        <h1 id="pagetitle">Challenges</h1>
                    </div>
                </header>
                <div id="contentsections">
                    <section id="matches">
                        <div id="matchesheader">
                            <p>Matches</p>
                        </div>
                    </section>
                    <div id="contentright">
                        <section id="alreadyplayed">
                            <p>Already played?</p>
                        </section>
                        <section id="gameinvites">

                            <div id="gameinvitesheader">
                            <p>Game invites</p>
                                <div id="listedChallenges">
                                    <p id="LoggedInPlayer"> </p>
                                    <p id="PlayerWhoChallenge"> </p>
                                    <p id="serverId"> </p>
                                    <p id="status"> </p>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </main>
        </div>
        <div id="leaderboardpopup">
            <button id="exitpopup" onclick="exitpopup()"></button>
            <h1>Join a Club</h1>
            <p>Enter a clubs name below to join their leaderboard.</p>
            <form id="join-club-form">
                <label>Club name</label>
                <div id="joinformfield">
                    <input type="text" id="join-club-input" placeholder="club#123" required>
                    <button type="submit" id="join-club-button">Join Club</button>
                </div>
                <div id="join-club-success"></div>
                <div id="join-club-error"></div>
            </form>
            <div id="findclub" role="button" onclick="window.location.href='/findclub'">
                <img src="/compasswhite.png" id="compasswhite">
                <div id="findclubtext">
                    <h2>Don't know a clubs name?</h2>
                    <p>Check out the current Clubs in Club Discovery</p>
                </div>
                <img src="/right-arrowblack.png" id="rightarrowblack">
            </div>
            <footer id="popupfooter">
                <p>Want to create you own club?</p>
                <button id="createorg-btn" onclick="window.location.href='/createOrg'">Create your own Club</button>
            </footer>
        </div>
    </div>
    <script>
          // Creates the div where the links to leaderboards are displayed
          const clubLinksDiv = document.getElementById('clublinks');
            fetch('/clubLinks')
                .then(response => response.json())
                .then(leaderboardsData => {
                    leaderboardsData.forEach((leaderboard) => {
                        const link = document.createElement('a');
                        link.href = `/leaderboards/${leaderboard.id}`; 
                        link.classList.add('club-link'); 
                        const image = document.createElement('img');
                        image.src = leaderboard.leaderboard_image;
                        link.appendChild(image);
                        clubLinksDiv.appendChild(link);
                    });
                })
                .catch(error => console.error(error));
            
                // Fetch user profile data from the server
                fetch('/getLoggedInUserInfo')
                    .then(response => response.json())
                    .then(data => {
                        document.getElementById('profile-image').src = data.profile_image;
                        document.getElementById('username').textContent = data.username;
                    })
                    .catch(error => console.error(error));


        /*Popup for adding leaderboards*/
        function leaderboardpopup() {
            var leaderboardpopupDiv = document.getElementById('leaderboardpopup');
            var gridcontainerLink = document.getElementById('blur');
            leaderboardpopupDiv.classList.add('active');
            gridcontainerLink.classList.add('active');
            }

        function exitpopup() {
            var leaderboardpopupDiv = document.getElementById('leaderboardpopup');
            var gridcontainerLink = document.getElementById('blur');
            leaderboardpopupDiv.classList.remove('active');
            gridcontainerLink.classList.remove('active');   
            }

        /* Sends Join a Club form to backend */
        document.getElementById('join-club-form').addEventListener('submit', function(event) {
            event.preventDefault();
            const club = document.getElementById('join-club-input').value;

            const xhr = new XMLHttpRequest();
            xhr.open('POST', '/joinClub');
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onload = function() {
                if (xhr.status === 200) {
                    document.getElementById('join-club-success').innerHTML = 'Successfully joined the club';
                    window.location.reload();
                } else {
                    document.getElementById('join-club-error').innerHTML = 'Unable to join the club';
                }
            };

            xhr.onerror = function() {
                document.getElementById('join-club-error').innerHTML = 'Unable to join the club';
            };

            xhr.send(JSON.stringify({ club }));
        });
        fetch('/matchFromChallenger')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('LoggedInPlayer').textContent = data.challenger_id;
                    document.getElementById('PlayerWhoChallenge').textContent = data.recipient_id;
                    document.getElementById('serverId').textContent = data.server_id;
                    document.getElementById('status').textContent = data.status;
                })
                .catch(error => console.error(error));
        /* desktop navbar function */
        var homeLink = document.getElementById('home');
        var searchLink = document.getElementById('search');
        var leaderboardsLink = document.getElementById('leaderboards');
        var challengesLink = document.getElementById('challenges');
        var profileLink = document.getElementById('profile');
        var searchfieldLink = document.getElementById('searchfield');
        var leaderboardoptionsLink = document.getElementById('leaderboardoptions');

        homeLink.addEventListener('click', function() {
        homeLink.classList.add('active');

        searchLink.classList.remove('active');
        searchfieldLink.classList.remove('active');
        leaderboardsLink.classList.remove('active');
        leaderboardoptionsLink.classList.remove('active');
        challengesLink.classList.remove('active');
        profileLink.classList.remove('active');
        });

        searchLink.addEventListener('click', function() {
        searchLink.classList.add('active');
        searchfieldLink.classList.add('active');
        
        homeLink.classList.remove('active');
        leaderboardsLink.classList.remove('active');
        leaderboardoptionsLink.classList.remove('active');
        challengesLink.classList.remove('active');
        profileLink.classList.remove('active');
        });

        leaderboardsLink.addEventListener('click', function() {
        leaderboardsLink.classList.add('active');
        leaderboardoptionsLink.classList.add('active');

        homeLink.classList.remove('active');
        searchLink.classList.remove('active');
        searchfieldLink.classList.remove('active');
        challengesLink.classList.remove('active');
        profileLink.classList.remove('active');
        });

        challengesLink.addEventListener('click', function() {
        challengesLink.classList.add('active');
        
        homeLink.classList.remove('active');
        searchLink.classList.remove('active');
        searchfieldLink.classList.remove('active');
        leaderboardsLink.classList.remove('active');
        leaderboardoptionsLink.classList.remove('active');
        profileLink.classList.remove('active');
        });

        profileLink.addEventListener('click', function() {
        profileLink.classList.add('active');
        homeLink.classList.remove('active');
        searchLink.classList.remove('active');
        searchfieldLink.classList.remove('active');
        leaderboardsLink.classList.remove('active');
        leaderboardoptionsLink.classList.remove('active');
        challengesLink.classList.remove('active');
        });
    </script>
  </body>
</html>
