<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pingispals</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="navigationSidebar.css" rel="stylesheet" type="text/css">
    <link href="homeStyle.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="grid-container" id="blur">
        <nav class="sidenav">
            <div id="logo">
                <p>Pingispals<p class="redDot">.</p></p>
            </div>
            <a id="home" href="#" class="active">Home</a>
            <a id="search" href="#">Search</a>
            <a id="leaderboards" href="#">Clubs</a>
            <a id="challenges" href="/gameChallenge">Challenges</a>
            <a id="profile" href="/editProfile">Profile</a>
            <div class="flex-container"></div>
            <a id="logout" href="/logout">Logout</a>
            <div id="statuspopupdiv">
                <div id="setstatusonline" role="button" onclick="setstatusonline()">
                    <div class="hoverdiv">
                        <div id="onlinedot"></div>
                        <p>Online</p>
                    </div>
                </div>
                <div id="setstatusaway" role="button" onclick="setstatusaway()">
                    <div class="hoverdiv">
                        <div id="awaydot"></div>
                        <p>Away</p>
                    </div>
                </div>
                <div id="setstatusmatchready" role="button" onclick="setstatusmatchready()">
                    <div class="hoverdiv">
                        <div id="matchdot"></div>
                        <p>Match ready</p>
                    </div>
                </div>
            </div>
            <div id="navprofile">
                <img id="navprofileimage" src="">
                <button id="changestatusbutton" onclick="changestatuspopup()"></button>
                <div id="navprofiletext">
                    <p id="navusername"></p>
                    <p id="navstatus"></p>
                </div>
            </div>
        </nav>
        <nav id="searchfield">
            <form>
                <input type="text" placeholder="Search">
            </form>
        </nav>
        <nav id="leaderboardoptions">
            <div id="leaderboardoptionsbuttons">
                <button type="button" id="addserver" onclick="leaderboardpopup()"></button>
                <form action="/findClub">
                    <button type="sumbit" id="findserver"></button>
                </form>
            </div>
            <div id="clublinks">
                <ul id="clublinkslist"></ul>
            </div>
        </nav>
        <div id="content">
            <main>  
                <h1 id="welcomeText">You need to login to use the website</h1>
                <!-- <img src="PingisPalsBackground.PNG"> -->
                <div id="matchBoxes">
                    <section id="matches">
                        <div id="matchesheader">
                            <p>Matches</p>
                        </div>
                        <div id="matchlabels">
                            <p id="labelloggedinuser">You</p>
                            <p id="labelleaderboard">Status</p>
                            <p id="labelopponent">Opponent</p>
                            <p id="labelactions">Actions</p>
                        </div>
                        <div id="fetchedmatches">
                        </div>
                    </section>
                    <section id="gameinvites">
                        <div id="gameinvitesheader">
                            <p>Invites</p>
                        </div>
                        <div id="listedMatches">
                            <table>
                                <tbody id="MatchInvites"></tbody>
                            </table>
                        </div>
                    </section>
                </div>
                <div id="videoPoster">
                    <video poster="https://i.gifer.com/fetch/w300-preview/80/803a1fe8eaf764c263388e64c49529cf.gif" class="full-media" loop="" autoplay="" playsinline="">
                        <source src="https://i.gifer.com/7jwj.mp4" type="video/mp4">
                    </video>
            </main>
        </div>
        <div id="leaderboardpopup">
            <button id="exitpopup" onclick="exitpopup()"></button>
            <h1>Join a Club</h1>
            <p>Enter a clubs name below to join their leaderboard.</p>
            <form id="join-club-form">
                <label>Club name</label>
                <div id="joinformfield">
                    <input type="text" id="join-club-input" placeholder="club#123" required>
                    <button type="submit" id="join-club-button">Join Club</button>
                </div>
                <div id="join-club-success"></div>
                <div id="join-club-error"></div>
            </form>
            <div id="findclub" role="button" onclick="window.location.href='/findclub'">
                <img src="compasswhite.png" id="compasswhite">
                <div id="findclubtext">
                    <h2>Don't know a clubs name?</h2>
                    <p>Check out the current Clubs in Club Discovery</p>
                </div>
                    <img src="right-arrowblack.png" id="rightarrowblack">
                </div>
            <footer id="popupfooter">
                <p>Want to create you own club?</p>
                <button id="createorg-btn" onclick="window.location.href='/createOrg'">Create your own Club</button>
            </footer>
        </div>
    </div>
    <script src="navbarScript.js"></script>
    <script src="homeScript.js"></script>
  </body>
</html>
