<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Leaderboards</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="/navigationSidebar.css" rel="stylesheet" type="text/css">
    <link href="/styleLeaderboard.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="grid-container" id="blur">
        <nav class="sidenav">
            <div id="logo">
                <p>Pingispals<p class="redDot">.</p></p>
            </div>
            <a id="home" href="/home" >Home</a>
            <a id="search" href="#">Search</a>
            <a id="leaderboards" href="#" class="active">Clubs</a>
            <a id="challenges" href="/gameChallenge">Challenges</a>
            <a id="profile" href="/editProfile">Profile</a>
            <div class="flex-container"></div>
            <a id="logout" href="/logout">Logout</a>
            <div id="statuspopupdiv">
                <div id="setstatusonline" role="button" onclick="setstatusonline()">
                    <div class="hoverdiv">
                        <div id="onlinedot"></div>
                        <p>Online</p>
                    </div>
                </div>
                <div id="setstatusaway" role="button" onclick="setstatusaway()">
                    <div class="hoverdiv">
                        <div id="awaydot"></div>
                        <p>Away</p>
                    </div>
                </div>
                <div id="setstatusmatchready" role="button" onclick="setstatusmatchready()">
                    <div class="hoverdiv">
                        <div id="matchdot"></div>
                        <p>Match ready</p>
                    </div>
                </div>
            </div>
            <div id="navprofile">
                <img id="navprofileimage" src="">
                <button id="changestatusbutton" onclick="changestatuspopup()"></button>
                <div id="navprofiletext">
                    <p id="navusername"></p>
                    <p id="navstatus"></p>
                </div>
            </div>
        </nav>
        <nav id="searchfield">
            <form>
                <input type="text" placeholder="Search">
            </form>
        </nav>
        <nav id="leaderboardoptions">
            <div id="leaderboardoptionsbuttons">
                <button type="button" id="addserver" onclick="leaderboardpopup()"></button>
                <form action="/findClub">
                    <button type="sumbit" id="findserver"></button>
                </form>
            </div>
            <div id="clublinks">
                <ul id="clublinkslist"></ul>
            </div>
        </nav>
        <div id="content">
            <div class="header"> 
                <h2 id="leaderboardName"> This is not the club you are looking for! </h2>
                <h3> Leaderboard </h3>
                <div id="topPlayers">
                    <div id="top2"> 
                        </div>
                    <div id="top1"> 
                        </div>
                    <div id="top3"> 
                        </div>
                </div>
            </div>
            <div id="ranking"> 
                <div class="challengePopup" id="challengePopup">
                    <button id="closeButton" onclick="closePopup()"></button>
                    <h3 id="playerName1" class="matchPlayers"></h3>
                    <h2 id="versus"> Vs </h2>
                    <h3 id="playerName2" class="matchPlayers"> </h3>
                    <button onclick="sendChallenge()" id="sendChallenge" id="button" role="button">Send challenge</button>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th id="placement"> Placement </th>
                            <th id="username"> Username </th>
                            <th id="wins"> Wins </th>
                            <th id="winRatio"> WinRate </th>
                            <th id="elo"> Elo </th>
                            <th id="status"> Status </th>
                            <th id="play"> Play </th>
                        </tr>
                    </thead>
                    <tbody id="leaderboard"></tbody>
                </table>
            </div>
        </div>
        <div id="leaderboardpopup">
            <button id="exitpopup" onclick="exitpopup()"></button>
            <h1>Join a Club</h1>
            <p>Enter a clubs name below to join their leaderboard.</p>
            <form id="join-club-form">
                <label>Club name</label>
                <div id="joinformfield">
                    <input type="text" id="join-club-input" placeholder="club#123" required>
                    <button type="submit" id="join-club-button">Join Club</button>
                </div>
                <div id="join-club-success"></div>
                <div id="join-club-error"></div>
            </form>
            <div id="findclub" role="button" onclick="window.location.href='/findclub'">
                <img src="/compasswhite.png" id="compasswhite">
                <div id="findclubtext">
                    <h2>Don't know a clubs name?</h2>
                    <p>Check out the current Clubs in Club Discovery</p>
                </div>
                    <img src="/right-arrowblack.png" id="rightarrowblack">
                </div>
            <footer id="popupfooter">
                <p>Want to create you own club?</p>
                <button id="createorg-btn" onclick="window.location.href='/createOrg'">Create your own Club</button>
            </footer>
        </div>
    </div>
    <script src="/leaderboardScript.js"></script>
    <script src="/navbarScript.js"></script>
</body>
</html>

        