<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>Welcome Pingispals!</title>
        <link rel="icon" type="image/x-icon" href="images/PingisPalsSmallIcon.png">
        <link href="/styleLeaderboard.css" rel="stylesheet">
        <link href="/navigationbar.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;200&family=Playfair+Display&display=swap" rel="stylesheet">
</head>
<body>
    <div class="grid-container">
        <nav class="sidenav">
            <div id="logo">
                <p>Pingispals<p class="redDot">.</p>
            </div>
            <a id="home" href="#" class="active"><p> Home </p></a>
            <a id="search" href="#"><p> Search </p></a>
            <a id="leaderboards" href="#"><p> Clubs </p></a>
            <a id="challenges" href="#"><p> Challenge </p></a>
            <a id="profile" href="#"><p> Profile </p></a>
        </nav>
        <nav id="searchfield">
            <form>
                <input type="text" placeholder="Search">
            </form>
        </nav>
        <nav id="leaderboardoptions">
            <button type="button" id="addserver" onclick="leaderboardpopup()"></button>
            <button type="button" id="findserver"></button>
        </nav>
        <div id="leaderboardpopup">
            <header id="popupheader">
            <button id="exitpopup" onclick="exitpopup()"></button>
            <h1>Add a Club</h1>
            </header>
            <p>Join a club by pressing the button next to the server you would like to join.</p>
            <footer id="popupfooter">
            <p>Want to create you own club?</p>
            <button id="createorg-btn" onclick="window.location.href='/createOrg'">Create your own Club</button>
            </footer>
        </div>

        <div class="header"> 
            <h2> Malmo University </h2>
            <h3> Leaderboard </h3>
            <div id="topPlayers">
                <div id="top2"> 
                    </div>
                <div id="top1"> 
                    </div>
                <div id="top3"> 
                    </div>
            </div>
        </div>
        <div id="ranking"> 
            <table>
                <thead>
                    <tr>
                        <th id="placement"> Placement </th>
                        <th id="username"> Username </th>
                        <th id="wins"> Wins </th>
                        <th id="winRatio"> Win ratio </th>
                        <th id="elo"> Elo </th>
                        <th id="status"> Status </th>
                        <th id="play"> Play </th>
                    </tr>
                </thead>
                <tbody id="leaderboard"></tbody>
            </table>
        </div>
        <script>
            /*Popup for adding leaderboards*/
            function leaderboardpopup() {
            var leaderboardpopupDiv = document.getElementById('leaderboardpopup');
            var gridcontainerLink = document.getElementById('blur');
            leaderboardpopupDiv.classList.add('active');
            gridcontainerLink.classList.add('active');
            }
    
            function exitpopup() {
            var leaderboardpopupDiv = document.getElementById('leaderboardpopup');
            var gridcontainerLink = document.getElementById('blur');
            leaderboardpopupDiv.classList.remove('active');
            gridcontainerLink.classList.remove('active');   
            }
    
    
            /* desktop navbar function */
            var homeLink = document.getElementById('home');
            var searchLink = document.getElementById('search');
            var leaderboardsLink = document.getElementById('leaderboards');
            var challengesLink = document.getElementById('challenges');
            var profileLink = document.getElementById('profile');
            var searchfieldLink = document.getElementById('searchfield');
            var leaderboardoptionsLink = document.getElementById('leaderboardoptions');
    
            homeLink.addEventListener('click', function() {
            homeLink.classList.add('active');
    
            searchLink.classList.remove('active');
            searchfieldLink.classList.remove('active');
            leaderboardsLink.classList.remove('active');
            leaderboardoptionsLink.classList.remove('active');
            challengesLink.classList.remove('active');
            profileLink.classList.remove('active');
            });
    
            searchLink.addEventListener('click', function() {
            searchLink.classList.add('active');
            searchfieldLink.classList.add('active');
            
            homeLink.classList.remove('active');
            leaderboardsLink.classList.remove('active');
            leaderboardoptionsLink.classList.remove('active');
            challengesLink.classList.remove('active');
            profileLink.classList.remove('active');
            });
    
            leaderboardsLink.addEventListener('click', function() {
            leaderboardsLink.classList.add('active');
            leaderboardoptionsLink.classList.add('active');
    
            homeLink.classList.remove('active');
            searchLink.classList.remove('active');
            searchfieldLink.classList.remove('active');
            challengesLink.classList.remove('active');
            profileLink.classList.remove('active');
            });
    
            challengesLink.addEventListener('click', function() {
            challengesLink.classList.add('active');
            
            homeLink.classList.remove('active');
            searchLink.classList.remove('active');
            searchfieldLink.classList.remove('active');
            leaderboardsLink.classList.remove('active');
            leaderboardoptionsLink.classList.remove('active');
            profileLink.classList.remove('active');
            });
    
            profileLink.addEventListener('click', function() {
            profileLink.classList.add('active');
            homeLink.classList.remove('active');
            searchLink.classList.remove('active');
            searchfieldLink.classList.remove('active');
            leaderboardsLink.classList.remove('active');
            leaderboardoptionsLink.classList.remove('active');
            challengesLink.classList.remove('active');
            });
        </script>
        <script>
            //Laddar in användare från databas in i leaderboarden
            let playerData;
            function testLoadLeaderboard() {
                var xhr = new XMLHttpRequest();
                xhr.open("GET", "/leaderboard/score")
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.send();
                xhr.onreadystatechange = function() {
                    console.log('hello world')
                    if (xhr.readyState === 4) {
                        if (xhr.status === 200) {
                            const response = xhr.response
                            players = JSON.parse(response);
                            assignPlacements(playerData);
                            console.log(xhr)
                            const ladder = document.getElementById('leaderboard');
                            ladder.innerHTML = '';
                            players.forEach(player => {
                            const row = document.createElement('tr');
                            row.innerHTML = `
                                <td>${player.placement}</td>
                                <td>${player.username}</td>
                                <td>${player.wins}</td>
                                <td>${player.wins/player.losses}</td>
                                <td>${player.elo}</td>
                                <td>${player.status}</td>
                                <td><button>Play</button></td>
                            `;
                            if (player.losses) {
                                const winLossRatio = player.wins / player.losses;
                                row.children[3].textContent = winLossRatio;
                            }
                            else {
                                row.children[3].textContent = "n/a"
                            }
                            ladder.appendChild(row);
                            });
                } else {
                }
                }
            };
            }
            testLoadLeaderboard()
            //Visar upp top 3 spelare i leaderboarden
                function topPlayers(playerData) {
                const top1 = players.find(player => player.placement === "1");
                const top2 = players.find(player => player.placement === "2");
                const top3 = players.find(player => player.placement === "3");

                const top1Div = `
                    <img class="crown" src="/Crown.png">
                    <img class="playerProfilePhoto" src="/mightyloaf.png">
                    <p>${top1.username}</p>
                    <p>#${top1.placement}</p>
                `;

                const top2Div = `
                    <img class="playerProfilePhoto" src="/akwardcat.jpg">
                    <p>${top2.username}</p>
                    <p>#${top2.placement}</p>
                `;

                const top3Div = `
                    <img class="playerProfilePhoto" src="/akwardcat.jpg">
                    <p>${top3.username}</p>
                    <p>#${top3.placement}</p>
                `;

                document.getElementById("top1").innerHTML = top1Div;
                document.getElementById("top2").innerHTML = top2Div;
                document.getElementById("top3").innerHTML = top3Div;
            }

            function loadLeaderboard() {
                const xhr = new XMLHttpRequest();
                xhr.open("GET", "/leaderboard/score");
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.send();

                xhr.onreadystatechange = function() {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        const response = JSON.parse(xhr.response);
                        topPlayers(response);
                    }
                };
            }

            loadLeaderboard();
function assignPlacements(playerData) {
  for (let i = 0; i < players.length; i++) {
    if (i === 0) {
      players[i].placement = "1";
    } else if (i === 1) {
      players[i].placement = "2";
    } else if (i === 2) {
      players[i].placement = "3";
    } else {
      players[i].placement = (i + 1).toString();
    }
  }
}

        </script>
        <script src="leaderboardScript.js"></script>
    </div>
    
</body>

</html>

        