<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registration</title>
    <link href="registerstyle.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="grid-container">
        <div class="sidebar">
            <img src="pingpongtableaside.png">
        </div>
        <div class="item-1">
            <a href="/index" class="return-btn"><img src="returnArrow.png"></a>
            <img src="pingispalsLogo.png" class="logo">
        </div>
        <div class="item-2">
            <h1>Create account</h1>
        </div>
        <div class="item-3">
        <form id="register-form">
            <div class="email">
                <input type="email" id="email" name="email" placeholder="Email" required>
            </div>
            <div class="username">
                <input type="text" id="username" name="username" placeholder="Username" required>
            </div>
            <div class="password"> 
                <input type="password" id="password" name="password" placeholder="Password" required>
            </div>
            <div class="confirm-password">
                <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirm password" required>
            </div>
            </div>
            <div class="item-4">
                <button type="button" class="submit-btn" onclick="register()">Sign up<img src="right-arrow.png"></button>
                <p id="error-message" style="color: red;"></p> <!-- Add error message element -->
            </div>
        </form>
        <div class="item-5">
            <p>Already a member? <a href="" class="loginfooter">Log in</a> </p>
        </div>
    </div>
        <script>
            function register() {
                var email = document.getElementById("email").value;
                var username = document.getElementById("username").value;
                var password = document.getElementById("password").value;
                var confirmPassword = document.getElementById("confirm-password").value;

                // Checks that passwords match
                if (password !== confirmPassword) {
                    document.getElementById("error-message").innerHTML = "Passwords do not match";
                    return;
                }

                 // Checks that email is an email
                 var emailvalidate = /\S+@\S+\.\S+/;
                if (!emailvalidate.test(email)) {
                    document.getElementById("error-message").innerHTML = "Invalid email address";
                    return;
                }

                // Makes sure password contains 8 charachters
                if (password.length < 8) {
                    document.getElementById("error-message").innerHTML = "Password must be atleast 8 characters long";
                    return;
                }

                // Sends form to server.js
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/register", true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.onreadystatechange = function() {
                    if (xhr.readyState === 4) {
                        if (xhr.status === 200) {
                            document.getElementById("error-message").innerHTML = "Registration successful";
                            window.location.href = "/home.html";
                        } else if (xhr.status === 400) {
                            document.getElementById("error-message").innerHTML = "Email already in use";
                        } else {
                            document.getElementById("error-message").innerHTML = "Registration failed";
                        }
                    }
                };
                xhr.send(JSON.stringify({
                    email: email,
                    username: username,
                    password: password
                }));
                }
        </script>
  </body>
</html>
