<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>View profile</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="/navigationSidebar.css" rel="stylesheet" type="text/css">
    <link href="/viewProfilestyle.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="grid-container" id="blur">
        <nav class="sidenav">
            <div id="logo">
                <p>Pingispals<p class="redDot">.</p></p>
            </div>
            <a id="home" href="#" class="active">Home</a>
            <a id="search" href="#">Search</a>
            <a id="leaderboards" href="#">Clubs</a>
            <a id="challenges" href="/gameChallenge">Challenges</a>
            <a id="profile" href="/editProfile">Profile</a>
            <div class="flex-container"></div>
            <a id="logout" href="/logout">Logout</a>
            <div id="statuspopupdiv">
                <div id="setstatusonline" role="button" onclick="setstatusonline()">
                    <div class="hoverdiv">
                        <div id="onlinedot"></div>
                        <p>Online</p>
                    </div>
                </div>
                <div id="setstatusaway" role="button" onclick="setstatusaway()">
                    <div class="hoverdiv">
                        <div id="awaydot"></div>
                        <p>Away</p>
                    </div>
                </div>
                <div id="setstatusmatchready" role="button" onclick="setstatusmatchready()">
                    <div class="hoverdiv">
                        <div id="matchdot"></div>
                        <p>Match ready</p>
                    </div>
                </div>
            </div>
            <div id="navprofile">
                <img id="navprofileimage" src="">
                <button id="changestatusbutton" onclick="changestatuspopup()"></button>
                <div id="navprofiletext">
                    <p id="navusername"></p>
                    <p id="navstatus"></p>
                </div>
            </div>
        </nav>
        <nav id="searchfield">
            <form>
                <input type="text" placeholder="Search">
            </form>
        </nav>
        <nav id="leaderboardoptions">
            <div id="leaderboardoptionsbuttons">
                <button type="button" id="addserver" onclick="leaderboardpopup()"></button>
                <button type="button" id="findserver"></button>
            </div>
            <div id="clublinks">
                <ul id="clublinkslist"></ul>
            </div>
        </nav>
        <div id="content">
            <main id="profile-card">
                <header id="headerbackground">
                </header>
                <header id="headercontent">
                <!-- Add fetched profile image in "profile-image"-->
                    <img id="profile-image" src="">
                    <section id="headerdetails">
                        <!-- Add fetched username in "username"-->
                        <p id="username"></p>
                        <div id="discorddetails">
                            <img id="discordlogo" src="/discordlogo.png">
                            <!-- Add fetched contact_info in "discordname"-->
                            <p id="discordname" class="active"></p>
                        </div>
                    </section>
                    <button id="challengebutton" class="active" onclick="sendChallenge()">Challenge</button>
                    <button id="cancelchallengebutton" onclick="cancelChallenge()">Unchallenge</button>
                </header>
                <div id="contentsections">
                    <div id="contentleft">
                        <section id="about">
                            <div id="aboutheader">
                                <h3>Description</h3>
                                <article id="userDescription">
                                    <!-- Add fetched user_bio in "fecthedUserDescription"-->
                                    <p id="fetchedUserDescription" class="active"></p>
                                </article>
                            </div>
                        </section>
                        <section id="achievements">
                            <p>achievements</p>
                        </section>
                    </div>
                    <section id="recentgames">
                        <h3>Recent Games</h3>
                        <div id="matchContainer">
                        </div>
                    </section>
                </div>
            </main>
        </div>
        <div id="leaderboardpopup">
            <button id="exitpopup" onclick="exitpopup()"></button>
            <h1>Join a Club</h1>
            <p>Enter a clubs name below to join their leaderboard.</p>
            <form id="join-club-form">
                <label>Club name</label>
                <div id="joinformfield">
                    <input type="text" id="join-club-input" placeholder="club#123" required>
                    <button type="submit" id="join-club-button">Join Club</button>
                </div>
                <div id="join-club-success"></div>
                <div id="join-club-error"></div>
            </form>
            <div id="findclub" role="button" onclick="window.location.href='/findclub'">
                <img src="/compasswhite.png" id="compasswhite">
                <div id="findclubtext">
                    <h2>Don't know a clubs name?</h2>
                    <p>Check out the current Clubs in Club Discovery</p>
                </div>
                <img src="/right-arrowblack.png" id="rightarrowblack">
            </div>
            <footer id="popupfooter">
                <p>Want to create you own club?</p>
                <button id="createorg-btn" onclick="window.location.href='/createOrg'">Create your own Club</button>
            </footer>
        </div>
    </div>
    <script src="viewProfileScript.js"></script>
    <script src="navbarScript.js"></script>
  </body>
</html>
