body {
    font-family: 'Lexend', sans-serif;
    margin: 0;
    height: 100%;
}
.header { 
    grid-area: header;
    background-color: #D9FFF8;
}
#ranking { 
    grid-area: top;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    background-color: white;
    padding-top: 0px;
}
.sidebar { 
    width: 15%;
    height: 100%;
    grid-area: menu;
    background-color: #66CCCC;
    position: fixed;
}
.sidebar  li {
    padding: 5px;
    display: block;
}

.sidebar > h3 {
    color: #fff;
    padding-left: 30px;
}
#ladder { 
    grid-area: ladder; 
}
.player { 
    grid-area: footer;
    
}
.grid {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-areas:
    'menu header header header header header '
    'menu top top top top top'
    'menu ladder ladder ladder ladder ladder'
}
.grid > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
li{
    list-style: none;
    margin: 25px;
} 
li:hover {
    color: #fff;
    text-decoration: underline;
    transition: 0.2s all ease;  
    cursor: pointer;
}
.header > h2 {
    color: black;
}

.header > h2, .header > h3 {
    margin: 10px;
}
.header > p {
    display: flex;
    justify-content: center;
    display: inline;
    padding: 100px;
}
input {
    height: 40px;
    border: 1px solid black;
    background-color: #fff;
    text-decoration: none;
    border-radius: 10px;
    font-family: 'Lexend', sans-serif;
    font-size: 15px;
    box-shadow: 0 0 5px #666;
    transition: all 0.5s;
    width:150px
}

input:focus {
    width: 200px;
}

img {
    width: 25px;
}

/*Leaderboard styling */
.crown {
    display: block;
    margin: auto;
    width: 10%;
}

.playerProfilePhoto {
    display: block;
    margin: auto;
    width: 25%;
    border-radius: 10px;
}
ul {
    padding: 0px;
}
td {
    padding: 1% 75px;
    gap: 10px;
}
tr:nth-child(even) {
    background-color: #eeeeee;
}
#topPlayers{
    display: flex;
    justify-content: center;
    font-weight: bold;
    padding: 5px; 
    gap: 5%;
}
#top1, #top2, #top3 {
    border-radius: 20px;
    transition: all .2s ease-in-out;
}
#top1:hover, #top2:hover, #top3:hover {
    transform: scale(1.1);
}

#top1 {
    padding-top: 15px;
    width: 20%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fefcea+0,f1da36+100;Gold+3D */
    background: #fefcea; /* Old browsers */
    background: -moz-linear-gradient(top,  #fefcea 0%, #f1da36 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #fefcea 0%,#f1da36 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #fefcea 0%,#f1da36 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 ); /* IE6-9 */
    overflow: hidden;
    
}

#top2 {
    height: 70%;
    padding-top: 53px;
    width: 15%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ebf1f6+0,abd3ee+50,89c3eb+51,d5ebfb+100;Blue+Gloss+%234 */
    background: #ebf1f6; /* Old browsers */
    background: -moz-linear-gradient(top,  #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=0 ); /* IE6-9 */

}
#top3 {
    height: 70%;
    padding-top: 53px;
    width: 15%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f0b7a1+0,8c3310+50,752201+51,bf6e4e+100;Brown+Gloss */
    background: #f0b7a1; /* Old browsers */
    background: -moz-linear-gradient(top,  #f0b7a1 0%, #8c3310 50%, #752201 51%, #bf6e4e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#bf6e4e',GradientType=0 ); /* IE6-9 */

}
#elo:hover {
    color: aqua;
    text-decoration: underline;
    transition: 0.2s all ease;  
    cursor: pointer;
}
#wins:hover {
    color: aqua;
    text-decoration: underline;
    transition: 0.2s all ease;  
    cursor: pointer;
}
#placement:hover {
    color: aqua;
    text-decoration: underline;
    transition: 0.2s all ease;  
    cursor: pointer;
}
#readyDot {
    height: 15px;
    width: 15px;
    background-color: lightgreen;
    border-radius: 50%;
    display: inline-block;
  }
#notReadyDot {
    height: 15px;
    width: 15px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}
#playIcon{
    height: 40px;
    width: 70px;
    background-color: rgb(248, 61, 61);
    border-radius: 5px;
    display: inline-block;
    box-shadow: 0px 2px 5px black;
    transition: all .2s ease-in-out;
    font-weight: bold;
    cursor: pointer;
}
#playIcon:hover{
    background-color: rgb(252, 98, 98);
    transform: scale(1.1);

}
table {
    width: 100%;
    border-collapse: collapse;
}
thead {
    width: 100%;
    background-color: #66CCCC;
}