/* editProfile css */
#headerbackground{
    height: 200px;
    background: linear-gradient(180deg, rgba(102, 204, 204, 0.83) 0%, rgba(102, 204, 204, 0.21) 100%);
}

#headercontent{
    display: flex;
    flex-direction: row;
    background-color: white;
    position: relative;
    margin-top: -70px;
    padding: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 370px;
    margin-left: 50px;
    border-radius: 15px;
}

#profile-image{
    height: 100px;
    width: 100px;
    border-radius: 100px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 0;
}

#username{
    font-weight: 600;
    margin-left: 10px;
    font-size: 20px;
    color: #272727
}

#pagetitle{
    position: relative;
    margin-top: -20px;
    margin-left: 10px;
    font-size: 40px;
    margin-bottom: 0px;
}

#headertext{
    display: flex;
    flex-direction: column;
}

#contentsections{
    display: flex;
    flex-direction: row;
}

#matches{
    background-color: #fff;
    width: 500px;
    height: 600px;
    margin: 20px 50px 30px 50px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
}

#contentright{
    display: flex;
    flex-direction: column;
    right: 50px;
    position: absolute;
    margin-top: -50px;
}

#alreadyplayed{
    background-color: #fff;
    width: 300px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    margin: auto;
}

#gameinvites{
    background-color: #fff;
    width: 400px;
    height: 400px;
    margin: 20px auto 20px auto ;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#listedChallenges {
    display: flex;
    flex-direction: row;
    margin: 50px;
}
#listedChallenges p{
    padding: 3px;
    font-size: 10px;
    margin: 0;
    text-align: center;
}
#gameinvitesheader{
    text-align: center;
}
#listedMatches {
    font-size: 10px;
    display: flex;
    gap: 10px;
}
#acceptButton{
    display: inline-block;
    padding: 10px 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 2px #999;
}
#declineButton {
    display: inline-block;
    padding: 10px 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #f52b2b;
    border: none;
    border-radius: 15px;
    box-shadow: 0 2px #999;
}
#acceptButton:hover {background-color: #3e8e41}
#declineButton:hover {background-color: #c00202}

#acceptButton:active {
    background-color: #3e8e41;
    box-shadow: 0 0px #666;
    transform: translateY(1px);
}
#declineButton:active {
    background-color: #9b0303;
    box-shadow: 0 0px #666;
    transform: translateY(1px);
}
td {
    text-align: center;
}
#opponentImage {
    width: 45px;
    border-radius: 10px;
    box-shadow: 10 10px #666;
}
table{
    width: 100%;
}
#noInvites{
    text-align: center;
    color: rgb(121, 121, 121);
}

/* Mobile css */
@media screen and (max-width: 600px) {
    * {
      box-sizing: border-box;
    }
}