/* editProfile css */
#headerbackground{
    height: 200px;
    background: linear-gradient(180deg, rgba(102, 204, 204, 0.83) 0%, rgba(102, 204, 204, 0.21) 100%);
}

#headercontent{
    display: flex;
    flex-direction: row;
    background-color: white;
    position: relative;
    margin-top: -70px;
    padding: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 370px;
    margin-left: 50px;
    border-radius: 15px;
}

#profile-image{
    height: 100px;
    width: 100px;
    border-radius: 100px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 0;
}

#username{
    font-weight: 600;
    margin-left: 10px;
    font-size: 20px;
    color: #272727
}

#pagetitle{
    position: relative;
    margin-top: -20px;
    margin-left: 10px;
    font-size: 40px;
    margin-bottom: 0px;
}

#headertext{
    display: flex;
    flex-direction: column;
}

#contentsections{
    display: flex;
    flex-direction: row;
}

#matches{
    background-color: #fff;
    width: 500px;
    height: 600px;
    margin: 20px 50px 30px 50px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
}

#contentright{
    display: flex;
    flex-direction: column;
    right: 50px;
    position: absolute;
    margin-top: -50px;
}

#alreadyplayed{
    background-color: #fff;
    width: 300px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    margin: auto;
}

#gameinvites{
    background-color: #fff;
    width: 400px;
    height: 400px;
    margin: 20px auto 20px auto ;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#listedChallenges {
    display: flex;
    flex-direction: row;
    margin: 50px;
}
#listedChallenges p{
    padding: 3px;
    font-size: 10px;
    margin: 0;
    text-align: center;
}
#gameinvitesheader{
    text-align: center;
}
#listedMatches {
    font-size: 10px;
    display: flex;
    gap: 10px;
}

/* Mobile css */
@media screen and (max-width: 600px) {
    * {
      box-sizing: border-box;
    }
}