/* Desktop css*/
.grid-container {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 1fr;
    height: 100vh;
  }

#blur.active > *:not(#leaderboardpopup) {
    filter: blur(2px);
    transition: 1s;
}

#blur2.active > *:not(#addProfilePicturePopup) {
    filter: blur(2px);
    transition: 1s;
}

#leaderboardpopup{
    visibility: hidden;
    position: absolute;
    background-color: #fff;
    top: -20%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.30);
    padding: 30px 25px 50px 25px;
    transition: 1s;
    border-radius: 10px;
}

#leaderboardpopup.active{
    visibility: visible;
    position: absolute;
    background-color: #fff;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.30);
    padding: 30px 25px 50px 25px;
    transition: 1s;
}

#leaderboardpopup h1{
    text-align: center;
}

#join-club-input{
   border: none; 
   background-color: #dbdbdb;
   font-family: 'Lexend';
   padding: 0px 20% 0px 10px;
   border-radius: 5px;
   font-size: 15px;
}

#join-club-input:focus{
    outline: none; 
 }

#join-club-error{
    text-align: center;
    margin-top: 10px;
    color: #FF3366;
}

#join-club-success{
    text-align: center;
    margin-top: 10px;
    color: #5cff33;
}

#join-club-button{
    font-family: 'Lexend';
    font-style: normal;
    color: #fff;
    background-color: #66cccc;
    font-size: 18px;
    padding: 10px 10px 10px 10px;
    display: block;
    text-align: center;
    border: none;
    margin: auto;
    border-radius: 5px;
}

#join-club-button:hover{
    background-color: #54a8a8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
}

#leaderboardpopup p{
    color: #a5a5a5;
    text-align: center;
    width: 70%;
    margin: auto;
}

#popupfooter{
    margin-top: 50px;
}

#joinformfield{
    display: flex;
    flex-direction: row;
}

#createorg-btn{
    font-family: 'Lexend';
    font-style: normal;
    color: #fff;
    background-color: #66cccc;
    font-size: 20px;
    display: block;
    text-align: center;
    border: none;
    margin: auto;
    padding:10px 20px 10px 20px;
    border-radius: 10px;
    margin-top: 5px;
}

#createorg-btn:hover{
    background-color: #54a8a8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
}

#exitpopup {
    background-image: url(returnarrowblack.png);
    background-size: 100%;
    background-repeat: no-repeat;
    border: none;
    padding: 20px;
    background-color: #fff;
}

.flex-container {
    flex: 1;
    position: relative;
  }

.sidenav {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    height: 100vh;
}

#searchfield{
    grid-column: 1;
    position: absolute;
    visibility: hidden;
    margin-left: 15%;
    width: 0%;
    background-color: #fff;
    z-index: 1;
}

#searchfield input{
    width: 0%; 
    margin-top: 20%;
    outline: none;
    border: 0;
    border-bottom: 1px solid #cecece;
    font-family: 'Lexend';
    background-image: url(searchgrey.png);
    background-position: 10px 12px;
    background-repeat: no-repeat;
    background-size: 10% ;
    padding: 10px 0px 10px 50px;
    margin-left: 5%;
    font-size: 20px;
}

#searchfield.active{
    height: 100vh;
    position: absolute;
    visibility: visible;
    width: 17%;
    transition: 1s;
    border-right: 1px solid #ebebeb;
}

#leaderboardoptions{
    grid-column: 1;
    position: absolute;
    visibility: hidden;
    margin-left: 15%;
    width: 0%;
    background:rgba(226, 226, 226, 0.8);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    transition: background-color .3s cubic-bezier(.42, .00, .58, 1.00);
    z-index: 1;
}

#leaderboardoptions.active{
    height: 100vh;
    position: absolute;
    visibility: visible;
    width: 80px;
    transition: 1s;
    border-right: 1px solid #ebebeb;
}

.club-link img{
    height: 50px;
    width: 50px;
    border-radius: 100px;
    margin-left: 20%;
    background-color: #93b8b8;
    border: none;
}

.club-link:hover img{
    transition: 0.4s;
    border-radius: 14px;
}

#addserver{
    height: 50px;
    width: 50px;
    background-image: url(addblue.png);
    background-color: white;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 100px;
    border: none;
    margin-left: 20%;
    margin-top: 40%;
}

#addserver:hover {
    background-color: #66cccc;
    background-image: url(addwhite.png);
    transition: 0.4s;
    border-radius: 14px;
}

#findclub{
    background-color: #eeeeee;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    padding: 0px 10px 10px 10px;
}

#findclubtext{
    display: flex;
    flex-direction: column;
}

#findclubtext h2{
    text-align: unset;
    font-size: 16px;
    margin-left: 10px;
    margin-bottom: 0px;
}

#findclubtext p{
    color: #555557;
    text-align: unset;
    font-size: 12px;
    margin-left: 10px;
}

#rightarrowblack{
    height: 30px;
    width: 30px;
    margin-top: 6%;
}

#findclub #compasswhite{
    height: 40px;
    width: 40px;
    padding: 5px;
    background-color: #66cccc;
    background-repeat: no-repeat;
    border-radius: 100px;
    margin-top: auto;
}

#findclub:hover #compasswhite{
    border-radius: 14px;
    transition: 0.4s;
}

#findclub:hover{
    background-color: #e2e2e2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.4s;
}

#findserverpopup:hover {
    transition: 0.4s;
    border-radius: 14px;
}

#findserver {
    height: 50px;
    width: 50px;
    background-image: url(compassblue.png);
    background-color: white;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 100px;
    border: none;
    margin-left: 20%;
    margin-top: 10%;
}

#findserver:hover {
    background-color: #66cccc;
    background-image: url(compasswhite.png);
    transition: 0.4s;
    border-radius: 14px;
}

#searchfield.active input{
    width: 70%;
    transition: 0.7s;
}

#content {
    grid-column: 2;
    background-color: #fff;
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: scroll;
}

#content.active {
    grid-column: 3;
    background-color: #fff;
}

html{
    font-family: 'Lexend';
    font-style: normal;
    background-color: #66cccc;
}

body{
    margin: 0;
}

#logo{        
    display: flex;
    flex-direction: row;
    color: #fff;
    margin-left: 10%;
    font-size: 35px;
}

.redDot {
    color: #FF3366;
}

.sidenav a{
    margin-bottom: 40px;
    color: #fff;
    font-size: 22px;
    margin-left: 5px;
}

#search{
    background-image: url(search.png);
    background-position: 10px 8px;
    background-repeat: no-repeat;
    background-size: 31px 31px ;
    padding: 10px 5px 10px 50px;
    width: 30%;
    text-decoration: none;
    border-radius: 15px;
    transition: 1s;
}

#search.active{
    background-image: url(searchred.png);
    color: #FF3366;
    background-color: #fff;
    transition: 1s;
    background-size: 31px 31px ;
    width: 60%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#search:hover{
    background-image: url(searchred.png);
    color: #FF3366;
    background-color: #fff;
    transition: 1s;
    background-size: 31px 31px ;
    width: 60%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-left: 60px;
}

#home.active{
    background-image: url(homered.png);
    color: #FF3366;
    background-color: #fff;
    transition: 1s;
    background-size: 31px 31px ;
    width: 60%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#home{
    background-image: url(navbarhome.png);
    background-position: 10px 8px;
    background-repeat: no-repeat;
    background-size: 31px 31px ;
    padding: 10px 5px 10px 50px;
    width: 30%;
    text-decoration: none;
    border-radius: 15px;
    transition: 1s;
}

#home:hover{
    background-image: url(homered.png);
    color: #FF3366;
    background-color: #fff;
    transition: 1s;
    background-size: 31px 31px ;
    width: 60%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-left: 60px;
}

#leaderboards{
    background-image: url(podium.png);
    background-position: 10px 8px;
    background-repeat: no-repeat;
    background-size: 31px 31px ;
    padding: 10px 5px 10px 50px;
    width: 30%;
    text-decoration: none;
    border-radius: 15px;
    transition: 1s;
}

#leaderboards.active{
    background-image: url(podiumred.png);
    color: #FF3366;
    background-color: #fff;
    transition: 1s;
    background-size: 31px 31px ;
    width: 60%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#leaderboards:hover{
    background-image: url(podiumred.png);
    color: #FF3366;
    background-color: #fff;
    transition: 1s;
    background-size: 31px 31px ;
    width: 60%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-left: 60px;
}

#challenges{
    background-image: url(pingpong2.png);
    background-position: 10px 8px;
    background-repeat: no-repeat;
    background-size: 31px 31px ;
    padding: 10px 5px 10px 50px;
    width: 30%;
    text-decoration: none;
    border-radius: 15px;
    transition: 1s;
}

#challenges.active{
    background-image: url(pingpongred.png);
    color: #FF3366;
    background-color: #fff;
    transition: 1s;
    background-size: 31px 31px ;
    width: 60%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



#challenges:hover{
    background-image: url(pingpongred.png);
    color: #FF3366;
    background-color: #fff;
    transition: 1s;
    background-size: 31px 31px ;
    width: 60%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-left: 60px;
}

#profile{
    background-image: url(profile.png);
    background-position: 10px 8px;
    background-repeat: no-repeat;
    background-size: 31px 31px ;
    padding: 10px 5px 10px 50px;
    width: 30%;
    text-decoration: none;
    border-radius: 15px;
    transition: 1s;
}

#profile.active{
    background-image: url(profilered.png);
    color: #FF3366;
    background-color: #fff;
    transition: 1s;
    background-size: 31px 31px ;
    width: 60%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#profile:hover{
    background-image: url(profilered.png);
    color: #FF3366;
    background-color: #fff;
    transition: 1s;
    background-size: 31px 31px ;
    width: 60%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-left: 60px;
}

#logout{
    background-image: url(logout.png);
    background-position: center left 10%;
    background-repeat: no-repeat;
    background-size: 31px 31px ;
    padding: 10px 5px 10px 50px;
    width: 40%;
    text-decoration: none;
    border-radius: 15px;
    bottom: 60px;
    transition: 1s;
}

#logout:hover{
    background-image: url(logoutred.png);
    color: #FF3366;
    background-color: #fff;
    transition: 1s;
    background-size: 31px 31px ;
    width: 60%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-left: 60px;
}

/* Profilestatus div*/
#navprofile{
    bottom: 0;
    background-color: #50a4a4;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 60px;
}

#navprofileimage{
    width: 45px;
    height: 45px;
    border-radius: 100px;
    margin-left: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 7.5px;
}

#changestatusbutton{
    position: relative;
    width: 12px;
    height: 12px;
    border-radius: 100px;
    border: none;
    margin-left: -12px;
    margin-top: 40px;
    transition: 0.2s;
}

#changestatusbutton.online{
    background-color: #5cff33;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-image: none;
}

#changestatusbutton.away{
    background-color: unset;
    background-image: url(idle.png);
    background-repeat: no-repeat;
    background-size: 14px;
    width: 14px;
    height: 14px;
    margin-left: -14px;
    margin-top: 37;
}

#changestatusbutton.matchready{
    background-color: unset;
    background-image: url(pingpongreverse.png);
    background-repeat: no-repeat;
    background-size: 16px;
    width: 16px;
    height: 16px;
    margin-left: -14px;
    margin-top: 37;
}

#changestatusbutton.online:hover{
    width: 12px;
    height: 12px;
    transition: 0.2s;
    background-color: #4edf2a;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}

#navprofiletext{
    display: flex;
    flex-direction: column;
}

#navusername{
    color: #fff;
    margin-left: 10px;
    font-size: 18px;
    margin-top: 10px;
}

#navstatus{
    color: #fff;
    position: absolute;
    margin-top: 35px;
    font-size: 12px;
    margin-left: 10px;
}

#statuspopupdiv{
    height: 200px;
    width: 120%;
    background-color: #fff;
    position: absolute;
    bottom: 68px;
    border-radius: 8px;
    margin-left: 2.5%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    visibility: hidden;
    display: none;
}

#statuspopupdiv.active{
    visibility: visible;
    display: unset;
}

#setstatusonline{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 10px;
    border-bottom: 1px solid #a5a5a5;
    width: 90%;
}

#setstatusonline p{
    margin-top: 0px;
    position: absolute;
    margin-left: 30px;
}

#onlinedot{
    height: 20px;
    width: 20px;
    background-color: #5cff33;
    border-radius: 100px ;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#setstatusaway{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 10px;
    border-bottom: 1px solid #a5a5a5;
    width: 90%;
}

#setstatusaway p{
    margin-top: 0px;
    position: absolute;
    margin-left: 30px;
}

#awaydot{
    height: 20px;
    width: 20px;
    background-image: url(idle.png);
    background-repeat: no-repeat;
    background-size: 20px;
}

#setstatusmatchready{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 10px;
    width: 90%;
}

#setstatusmatchready p{
    margin-top: 0px;
    position: absolute;
    margin-left: 30px;
}

.hoverdiv{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 5px;
    border-radius: 10px;
    padding-left: 5px;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.hoverdiv:hover{
    background-color: #cecece;
    transition: 0.5s;
    cursor: pointer;
}

#matchdot{
    height: 30px;
    width: 30px;
    background-image: url(pingpongreverse.png);
    background-repeat: no-repeat;
    background-size: 22px;
}