body {
    font-family: 'Lexend', sans-serif;
    margin: 0;
    height: 100%;
}
.header { 
    grid-area: header;
    background-color: #D9FFF8;
}
#ranking { 
    grid-area: ladder;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    background-color: white;
    padding-top: 0px;
    
}
.sidebar { 
    width: 15%;
    height: 100%;
    grid-area: menu;
    background-color: #66CCCC;
    position: fixed;
    word-wrap: break-word;
    
}
.sidebar  li {
    padding: 5px;
    display: block;
}

.sidebar > h3 {
    color: #fff;
    padding-left: 30px;
}
#ladder { 
    grid-area: ladder; 
}

.grid > div {
  text-align: center;
  padding: 20px 0;
  font-size:1.5vw
}
li{
    list-style: none;
    margin: 25px;
} 
li:hover {
    color: #fff;
    text-decoration: underline;
    transition: 0.2s all ease;  
    cursor: pointer;
}
.header > h2 {
    color: black;
}

.header > h2, .header > h3 {
    margin: 10px;
}
.header > p {
    display: flex;
    justify-content: center;
    display: inline;
    padding: 100px;
}
input {
    height: 40px;
    border: 1px solid black;
    background-color: #fff;
    text-decoration: none;
    border-radius: 10px;
    font-family: 'Lexend', sans-serif;
    font-size: 15px;
    box-shadow: 0 0 5px #666;
    transition: all 0.5s;
    width: 6vw;
}

input:focus {
    width: 8vw;
}

img {
    width: 25px;
}

/*Leaderboard styling */
.crown {
    display: block;
    margin: auto;
    width: 10%;
}

.playerProfilePhoto {
    display: block;
    margin: auto;
    width: 30%;
    border-radius: 10px;
}
ul {
    padding: 0px;
}
td {
    padding: 1% 75px;
    gap: 10px;
}
tr{
    width: 100%;
}
.challengebutton {
    color: #FF3366;
    font-family: 'Lexend';
    font-weight: 600;
    font-size: 20px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    padding: 10px 50px 10px 15px;
    background-image: url(ping-pong.png);
    background-size: 20% ;
    background-position: 120px 6px;
    background-repeat: no-repeat;
    float: right;
    cursor: pointer;
}

.challengebutton:hover {
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
}
.challengePopup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
    position: absolute;
    background-color: #fff;
    top: 50%;
    left: 55%;
    width: 30em;
    height: 18em;
    margin-top: -9em;
    margin-left: -15em;
    background-color: #B2E4DB;
    position: fixed;
    visibility: hidden;
    border-radius: 50px;
}
.challengePopup

.show-challengePopup{
    visibility: visible;
}
tr:nth-child(even) {
    background-color: #eeeeee;
}
#topPlayers{
    grid-area: top;
    display: flex;
    justify-content: center;
    font-weight: bold;
    padding: 5px; 
    gap: 5%;
}
#top1, #top2, #top3 {
    border-radius: 20px;
    transition: all .2s ease-in-out;
}
#top1:hover, #top2:hover, #top3:hover {
    transform: scale(1.1);
}

#top1 {
    padding-top: 15px;
    width: 20%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fefcea+0,f1da36+100;Gold+3D */
    background: #fefcea; /* Old browsers */
    background: -moz-linear-gradient(top,  #fefcea 0%, #f1da36 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #fefcea 0%,#f1da36 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #fefcea 0%,#f1da36 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 ); /* IE6-9 */
    overflow: hidden;
    

}

#top2 {
    height: 70%;
    padding-top: 53px;
    width: 15%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ebf1f6+0,abd3ee+50,89c3eb+51,d5ebfb+100;Blue+Gloss+%234 */
    background: #ebf1f6; /* Old browsers */
    background: -moz-linear-gradient(top,  #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=0 ); /* IE6-9 */

}
#top3 {
    height: 70%;
    padding-top: 53px;
    width: 15%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f0b7a1+0,8c3310+50,752201+51,bf6e4e+100;Brown+Gloss */
    background: #f0b7a1; /* Old browsers */
    background: -moz-linear-gradient(top,  #f0b7a1 0%, #8c3310 50%, #752201 51%, #bf6e4e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#bf6e4e',GradientType=0 ); /* IE6-9 */

}
#elo:hover {
    color: #fff;
    text-decoration: underline;
    transition: 0.2s all ease;  
    cursor: pointer;
}
#wins:hover {
    color: #fff;
    text-decoration: underline;
    transition: 0.2s all ease;  
    cursor: pointer;
}
#placement:hover {
    color: #fff;
    text-decoration: underline;
    transition: 0.2s all ease;  
    cursor: pointer;
}
#readyDot {
    height: 1vw;
    width: 1vw;
    background-color: lightgreen;
    border-radius: 50%;
    display: inline-block;
  }
#notReadyDot {
    height: 1vw;
    width: 1vw;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}
span{
    width: 1.5vw;
}
#playIcon{
    height: 2vw;
    width: 4vw;
    background-color: rgb(248, 61, 61);
    border-radius: 5px;
    display: inline-block;
    box-shadow: 0px 2px 5px black;
    transition: all .2s ease-in-out;
    font-weight: bold;
    cursor: pointer;
}
#playIcon:hover{
    background-color: rgb(252, 98, 98);
    transform: scale(1.1);

}
table {
    width: 100%;
    border-collapse: collapse;
}
thead {
    width: 100%;
    background-color: #66CCCC;
}


/* From a website */
table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  table th, table td {
    width: 40%;
    padding: .625em;
    text-align: center;
  }
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }

/* Desktop css*/
.grid-container {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 1fr;
    /*height: 100vh;*/
  }

#blur.active > *:not(#leaderboardpopup) {
filter: blur(2px);
transition: 1s;
}

#leaderboardpopup{
    visibility: hidden;
    position: absolute;
    background-color: #fff;
    top: -20%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.30);
    padding: 30px 25px 50px 25px;
    transition: 1s;
    border-radius: 10px;
}

#leaderboardpopup.active{
    visibility: visible;
    position: absolute;
    background-color: #fff;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.30);
    padding: 30px 25px 50px 25px;
    transition: 1s;
}

#leaderboardpopup h1{
    text-align: center;
}

#join-club-input{
   border: none; 
   background-color: #dbdbdb;
   font-family: 'Lexend';
   padding: 0px 20% 0px 10px;
   border-radius: 5px;
   font-size: 15px;
}

#join-club-input:focus{
    outline: none; 
 }

#join-club-error{
    text-align: center;
    margin-top: 10px;
    color: #FF3366;
}

#join-club-success{
    text-align: center;
    margin-top: 10px;
    color: #5cff33;
}

#join-club-button{
    font-family: 'Lexend';
    font-style: normal;
    color: #fff;
    background-color: #66cccc;
    font-size: 18px;
    padding: 10px 10px 10px 10px;
    display: block;
    text-align: center;
    border: none;
    margin: auto;
    border-radius: 5px;
}

#join-club-button:hover{
    background-color: #54a8a8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
}

#leaderboardpopup p{
    color: #a5a5a5;
    text-align: center;
    width: 70%;
    margin: auto;
}

#popupfooter{
    margin-top: 50px;
}

#joinformfield{
    display: flex;
    flex-direction: row;
}

#createorg-btn{
    font-family: 'Lexend';
    font-style: normal;
    color: #fff;
    background-color: #66cccc;
    font-size: 20px;
    display: block;
    text-align: center;
    border: none;
    margin: auto;
    padding:10px 20px 10px 20px;
    border-radius: 10px;
    margin-top: 5px;
}

#createorg-btn:hover{
    background-color: #54a8a8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
}

#exitpopup {
    background-image: url(returnarrowblack.png);
    background-size: 100%;
    background-repeat: no-repeat;
    border: none;
    padding: 20px;
    background-color: #fff;
}

.sidenav {
    background-color: #66cccc;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    position: sticky;
    height: 100%;
}

#searchfield{
    grid-column: 1;
    position: absolute;
    visibility: hidden;
    margin-left: 15%;
    width: 0%;
    background-color: #fff;
}

#searchfield input{
    width: 0%; 
    margin-top: 20%;
    outline: none;
    border: 0;
    border-bottom: 1px solid #cecece;
    font-family: 'Lexend';
    background-image: url(searchgrey.png);
    background-position: 10px 12px;
    background-repeat: no-repeat;
    background-size: 10% ;
    padding: 10px 0px 10px 50px;
    margin-left: 5%;
    font-size: 20px;
}

#searchfield.active{
    height: 100vh;
    position: absolute;
    visibility: visible;
    width: 17%;
    transition: 1s;
    border-right: 1px solid #ebebeb;
}



.club-link img{
    height: 50px;
    width: 50px;
    border-radius: 100px;
    margin-left: 20%;
    background-color: #93b8b8;
    border: none;
}

.club-link:hover img{
    transition: 0.4s;
    border-radius: 14px;
}

#addserver{
    height: 50px;
    width: 50px;
    background-image: url(addblue.png);
    background-color: white;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 9px 9px;
    border-radius: 100px;
    border: none;
    margin-left: 20%;
    margin-top: 40%;
}

#addserver:hover {
    background-color: #66cccc;
    background-image: url(addwhite.png);
    transition: 0.4s;
    border-radius: 14px;
}

#findclub{
    background-color: #eeeeee;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    padding: 0px 10px 10px 10px;
}

#findclubtext{
    display: flex;
    flex-direction: column;
}

#findclubtext h2{
    text-align: unset;
    font-size: 16px;
    margin-left: 10px;
    margin-bottom: 0px;
}

#findclubtext p{
    color: #555557;
    text-align: unset;
    font-size: 12px;
    margin-left: 10px;
}

#rightarrowblack{
    height: 30px;
    width: 30px;
    margin-top: 6%;
}

#findclub #compasswhite{
    height: 40px;
    width: 40px;
    padding: 5px;
    background-color: #66cccc;
    background-repeat: no-repeat;
    border-radius: 100px;
    margin-top: auto;
}

#findclub:hover #compasswhite{
    border-radius: 14px;
    transition: 0.4s;
}

#findclub:hover{
    background-color: #e2e2e2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.4s;
}

#findserverpopup:hover {
    transition: 0.4s;
    border-radius: 14px;
}

#findserver {
    height: 50px;
    width: 50px;
    background-image: url(compassblue.png);
    background-color: white;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 9px 9px;
    border-radius: 100px;
    border: none;
    margin-left: 20%;
    margin-top: 10%;
}

#findserver:hover {
    background-color: #66cccc;
    background-image: url(compasswhite.png);
    transition: 0.4s;
    border-radius: 14px;
}

#searchfield.active input{
    width: 70%;
    transition: 0.7s;
}

#content {
    grid-column: 2;
    background-color: #fff;
}

#content.active {
    grid-column: 3;
    background-color: #fff;
}

html{
    font-family: 'Lexend';
    font-style: normal;
}

#logo{        
    display: flex;
    flex-direction: row;
    color: #fff;
    margin-left: 10%;
    font-size: 35px;
}

.redDot {
    color: #FF3366;
}

.sidenav a{
    margin-bottom: 20px;
    color: #fff;
    font-size: 22px;
    margin-left: 5px;
}

#search{
    background-image: url(search.png);
    background-position: 10px 8px;
    background-repeat: no-repeat;
    background-size: 31px 31px ;
    width: 30%;
    text-decoration: none;
    border-radius: 15px;
}

#search.active{
    background-image: url(searchred.png);
    color: #FF3366;
    background-color: #fff;
    transition: 1s;
    background-size: 31px 31px ;
    width: 60%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#home.active{
    background-image: url(homered.png);
    color: #FF3366;
    background-color: #fff;
    transition: 1s;
    background-size: 31px 31px ;
    width: 60%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#home{
    background-image: url(navbarhome.png);
    background-position: 10px 8px;
    background-repeat: no-repeat;
    background-size: 31px 31px ;
    padding: 10px 5px 10px 50px;
    width: 30%;
    text-decoration: none;
    border-radius: 15px;
}

#leaderboards{
    background-image: url(podium.png);
    background-position: 10px 8px;
    background-repeat: no-repeat;
    background-size: 31px 31px ;
    padding: 10px 5px 10px 50px;
    width: 30%;
    text-decoration: none;
    border-radius: 15px;
}

#leaderboards.active{
    background-image: url(podiumred.png);
    color: #FF3366;
    background-color: #fff;
    transition: 1s;
    background-size: 31px 31px ;
    width: 60%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#challenges{
    background-image: url(pingpong2.png);
    background-position: 10px 8px;
    background-repeat: no-repeat;
    background-size: 31px 31px ;
    padding: 10px 5px 10px 50px;
    width: 30%;
    text-decoration: none;
    border-radius: 15px;
}

#challenges.active{
    background-image: url(pingpongred.png);
    color: #FF3366;
    background-color: #fff;
    transition: 1s;
    background-size: 31px 31px ;
    width: 60%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#profile{
    background-image: url(profile.png);
    background-position: 10px 8px;
    background-repeat: no-repeat;
    background-size: 31px 31px ;
    padding: 10px 5px 10px 50px;
    width: 30%;
    text-decoration: none;
    border-radius: 15px;
}

#profile.active{
    background-image: url(profilered.png);
    color: #FF3366;
    background-color: #fff;
    transition: 1s;
    background-size: 31px 31px ;
    width: 60%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h3 {
    text-align: center;
}

h2{
    text-align: center;
}

/* Mobile css */
@media screen and (max-width: 600px) {
    * {
      box-sizing: border-box;
    }
}body {
    font-family: 'Lexend', sans-serif;
    margin: 0;
    height: 100%;
}
.sidenav { 
    grid-area: menu;
    
}
#ladder { 
    grid-area: ladder; 
}
.player { 
    grid-area: top;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-areas:
    'menu header header header header header '
    'menu ladder ladder ladder ladder ladder'
}
.grid > div {
  text-align: center;
  padding: 20px 0;
  font-size:1.5vw
}
li{
    list-style: none;
    margin: 25px;
} 
li:hover {
    color: #fff;
    text-decoration: underline;
    transition: 0.2s all ease;  
    cursor: pointer;
}
.header > h2 {
    color: black;
}

.header > h2, .header > h3 {
    margin: 10px;
}
.header > p {
    display: flex;
    justify-content: center;
    display: inline;
    padding: 100px;
}
input {
    height: 40px;
    border: 1px solid black;
    background-color: #fff;
    text-decoration: none;
    border-radius: 10px;
    font-family: 'Lexend', sans-serif;
    font-size: 15px;
    box-shadow: 0 0 5px #666;
    transition: all 0.5s;
    width: 6vw;
}

input:focus {
    width: 8vw;
}

img {
    width: 25px;
}

/*Leaderboard styling */
.crown {
    display: block;
    margin: auto;
    width: 10%;
}

.playerProfilePhoto {
    display: block;
    margin: auto;
    width: 30%;
    border-radius: 10px;
}
ul {
    padding: 0px;
}
td {
    padding: 1% 75px;
    gap: 10px;
}
tr{
    width: 100%;
}
tr:nth-child(even) {
    background-color: #eeeeee;
}

#top1, #top2, #top3 {
    border-radius: 20px;
    transition: all .2s ease-in-out;
}
#top1:hover, #top2:hover, #top3:hover {
    transform: scale(1.1);
}

#top1 {
    padding-top: 15px;
    width: 20%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fefcea+0,f1da36+100;Gold+3D */
    background: #fefcea; /* Old browsers */
    background: -moz-linear-gradient(top,  #fefcea 0%, #f1da36 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #fefcea 0%,#f1da36 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #fefcea 0%,#f1da36 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 ); /* IE6-9 */
    overflow: hidden;
    

}

#top2 {
    height: 70%;
    padding-top: 53px;
    width: 15%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ebf1f6+0,abd3ee+50,89c3eb+51,d5ebfb+100;Blue+Gloss+%234 */
    background: #ebf1f6; /* Old browsers */
    background: -moz-linear-gradient(top,  #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=0 ); /* IE6-9 */

}
#top3 {
    height: 70%;
    padding-top: 53px;
    width: 15%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f0b7a1+0,8c3310+50,752201+51,bf6e4e+100;Brown+Gloss */
    background: #f0b7a1; /* Old browsers */
    background: -moz-linear-gradient(top,  #f0b7a1 0%, #8c3310 50%, #752201 51%, #bf6e4e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#bf6e4e',GradientType=0 ); /* IE6-9 */

}
#elo:hover {
    color: #fff;
    text-decoration: underline;
    transition: 0.2s all ease;  
    cursor: pointer;
}
#wins:hover {
    color: #fff;
    text-decoration: underline;
    transition: 0.2s all ease;  
    cursor: pointer;
}
#placement:hover {
    color: #fff;
    text-decoration: underline;
    transition: 0.2s all ease;  
    cursor: pointer;
}
#readyDot {
    height: 1vw;
    width: 1vw;
    background-color: lightgreen;
    border-radius: 50%;
    display: inline-block;
  }
#notReadyDot {
    height: 1vw;
    width: 1vw;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}
span{
    width: 1.5vw;
}
#playIcon{
    height: 2vw;
    width: 4vw;
    background-color: rgb(248, 61, 61);
    border-radius: 5px;
    display: inline-block;
    box-shadow: 0px 2px 5px black;
    transition: all .2s ease-in-out;
    font-weight: bold;
    cursor: pointer;
}
#playIcon:hover{
    background-color: rgb(252, 98, 98);
    transform: scale(1.1);

}
table {
    width: 100%;
    border-collapse: collapse;
}
thead {
    width: 100%;
    background-color: #66CCCC;
}


/* From a website */
table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  table th, table td {
    width: 40%;
    padding: .625em;
    text-align: center;
  }
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }

@media screen and (max-width: 600px){
        .grid {
            display: grid;
            grid-template-columns: 100%;
            grid-template-areas:
            "header"
            "top"
            "ladder"
            "menu";
          }
    
        .sidebar {
            position: relative;
            width: auto;
        }
    
        #ranking {
            height: 400px;
        }
    
        .sidebar li {
            display: flex;
            justify-content: center;
            display: inline;
        }
    
        input {
            width: auto;
        }
    
        input:focus {
            width: auto;
        }
    
        li {
            margin: 0;
        }
    
    .grid-container	{
        grid-template-areas:
            'header'
            'top'
            'menu';
        grid-template-columns: auto !important;
        grid-template-rows: auto;
    } 
    #topPlayers {
        gap: 0px !important;
    }
    #top1, #top2, #top3 {
        border-radius: 50%;
        transition: all .2s ease-in-out;
    }
    #top3, #top2 {
        height: 100px;
        width: 100px;
    }
    #top1 {
        height: 120px;
        width: 120px;
    }
    .sidenav {
        position: fixed;
    }
    #topPlayers{
        display: flex;
        justify-content: center;
        font-weight: bold;
        padding: 5px; 
        gap: 10%;
    }
    #topPlayer > div{
        border-radius: 50%;
    }
    tbody > tr >td:nth-child(1) {
        display: none;
    }
    tbody > tr >td:nth-child(3) {
        display: none;
    }
    tbody > tr >td:nth-child(4) {
        display: none;
    }
    tbody > tr >td:nth-child(6) {
        display: none;
    }
    tr > #placement, #wins, #winRatio, #status {
        display: none;
    }
}