body {
    font-family: 'Lexend', sans-serif;
    margin: 0;
    height: 100%;
}
.header { 
    grid-area: header;
    background-color: #D9FFF8;
}
#ranking { 
    grid-area: ladder;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    background-color: white;
    padding-top: 0px;
    
}
#ladder { 
    grid-area: ladder; 
}

a {
    text-decoration: none;
    color: black;
}

/*Leaderboard styling */
.crown {
    display: block;
    margin: auto;
    width: 10%;
}

.playerProfilePhoto {
    display: block;
    margin: auto;
    width: 30%;
    border-radius: 10px;
}
ul {
    padding: 0px;
}
td {
    padding: 1% 75px;
    gap: 10px;
}
tr{
    width: 100%;
}
/* styling for Challenge button in leaderboard*/
#challengebutton {
    color: #FF3366;
    font-family: 'Lexend';
    font-weight: 600;
    font-size: 20px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    padding: 10px 50px 10px 15px;
    background-image: url(ping-pong.png);
    background-size: 20% ;
    background-position: 120px 6px;
    background-repeat: no-repeat;
    float: right;
    cursor: pointer;
    display: none;
}

#challengebutton.active {
    display: unset;
}

#challengebutton:hover {
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
}

#cancelchallengebutton{
    background-color: #FF3366;
    color: #fff;
    font-family: 'Lexend';
    font-weight: 600;
    font-size: 20px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    padding: 10px 15px 10px 15px;
    display: none;
    width: 164px;
    transition: 0.3s;
    float: right;
    cursor: pointer;
    margin-right: 20px;
}

#cancelchallengebutton:hover{
    transition: 0.3s;
    background-color: #d32c56;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}

#cancelchallengebutton.active{
    display: unset;
}

/*Styling for challenge popup button on the leaderboard*/
.challengePopup {
    display: grid;
    grid-template-columns: 30% 15% 30%;
    grid-template-areas: 
    "player1 versus player2"
    "challenge challenge challenge";
    align-items: center;
    justify-content: space-evenly;
    z-index: 10;
    position: fixed;
    background-color: #B2E4DB;
    top: 50%;
    left: 50%;
    width: 30em;
    height: 18em;
    transform: translate(-50%, -50%) scale(0.5);
    visibility: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.8s;
    transition: 0.8s all ease-in-out;
}



.show-challengePopup {
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}
/*Styling for challenge button within challenge popup*/
#sendChallenge {
    grid-area: challenge;
    border-radius: 10px;
    height: 50px;
    cursor: pointer;
    font-family: "Lexend";
    font-size: larger;
    color: #D9FFF8;
    background-color:#08b93d;
    font-weight: 800;
    width: 130px;
    margin: 0px auto;
    border: currentColor 0.125em solid;
    transition: 0.5s all ease-in-out;
}

#sendChallenge:hover {
    background-color: #725AC1;
    transition: 0.7s all ease;
    width: 180px;
    text-shadow: 0 0 0.5em currentColor;
}

#sendChallenge:active {
    transform: scale(0.8);
}

#playerName1 {
    grid-area: player1;
    color: #140569;
    text-decoration: underline;
}
#playerName2 {
    grid-area: player2;
    color: #710211;
    text-decoration: underline;
}
#playerName1:hover {
    color: #140569;
    text-decoration: underline;
    transition: 0.2s;
    text-shadow: 0 0 0.5em currentColor;
}
#playerName2:hover {
    color: #710211;
    text-decoration: underline;
    transition: 0.2s;
    text-shadow: 0 0 0.5em currentColor;
}
#closeButton {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  transition: 0.3s;
  padding: 2px;
}

#closeButton:hover {
    background-color: #666;
    transform: scale(1.1);
    border-radius: 15px;
}

h3 {
  margin: 10px 0;
  text-align: center;
}

#versus {
    grid-area: versus;
    position: absolute;
    align-items: center;
    padding: 0px 30px;
    text-shadow: 0 0 0.5em #fff;
}
/*
#check {
    position: absolute;
    bottom: 10px;
    cursor: pointer;
}
*/
.show-challengePopup{
    visibility: visible;
}
tr:nth-child(even) {
    background-color: #eeeeee;
}
#topPlayers{
    grid-area: top;
    display: flex;
    justify-content: center;
    font-weight: bold;
    padding: 5px; 
    gap: 5%;
    text-align: center;
}
#top1, #top2, #top3 {
    border-radius: 20px;
    transition: all .2s ease-in-out;
    box-shadow: 0 0 5px #666;
}
#top1:hover, #top2:hover, #top3:hover {
    transform: scale(1.1);
}

#top1 {
    padding-top: 15px;
    width: 20%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fefcea+0,f1da36+100;Gold+3D */
    background: #fefcea; /* Old browsers */
    background: -moz-linear-gradient(top,  #fefcea 0%, #f1da36 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #fefcea 0%,#f1da36 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #fefcea 0%,#f1da36 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 ); /* IE6-9 */
    overflow: hidden;
    

}

#top1, #top2, #top3 > p {
    text-shadow: 0 0 0.5em currentColor;
}

#top2 {
    height: 70%;
    padding-top: 53px;
    width: 15%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ebf1f6+0,abd3ee+50,89c3eb+51,d5ebfb+100;Blue+Gloss+%234 */
    background: #ebf1f6; /* Old browsers */
    background: -moz-linear-gradient(top,  #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=0 ); /* IE6-9 */

}
#top3 {
    height: 70%;
    padding-top: 53px;
    width: 15%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f0b7a1+0,8c3310+50,752201+51,bf6e4e+100;Brown+Gloss */
    background: #f0b7a1; /* Old browsers */
    background: -moz-linear-gradient(top,  #f0b7a1 0%, #8c3310 50%, #752201 51%, #bf6e4e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#bf6e4e',GradientType=0 ); /* IE6-9 */

}
#elo:hover {
    color: #fff;
    text-decoration: underline;
    transition: 0.2s all ease;  
    cursor: pointer;
}
#wins:hover {
    color: #fff;
    text-decoration: underline;
    transition: 0.2s all ease;  
    cursor: pointer;
}
#placement:hover {
    color: #fff;
    text-decoration: underline;
    transition: 0.2s all ease;  
    cursor: pointer;
}
#readyDot {
    height: 1vw;
    width: 1vw;
    background-color: lightgreen;
    border-radius: 50%;
    display: inline-block;
  }
#notReadyDot {
    height: 1vw;
    width: 1vw;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}
span{
    width: 1.5vw;
}
#playIcon{
    height: 2vw;
    width: 4vw;
    background-color: rgb(248, 61, 61);
    border-radius: 5px;
    display: inline-block;
    box-shadow: 0px 2px 5px black;
    transition: all .2s ease-in-out;
    font-weight: bold;
    cursor: pointer;
}
#playIcon:hover{
    background-color: rgb(252, 98, 98);
    transform: scale(1.1);

}
table {
    width: 100%;
    border-collapse: collapse;
}
thead {
    width: 100%;
    background-color: #66CCCC;
}


/* From a website */
table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  table th, table td {
    width: 40%;
    padding: .625em;
    text-align: center;
  }
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }

/* Desktop css*/
html{
    font-family: 'Lexend';
    font-style: normal;
}
body {
    font-family: 'Lexend', sans-serif;
    margin: 0;
    height: 100%;
}
.sidenav { 
    grid-area: menu;
    
}
#ladder { 
    grid-area: ladder; 
}
.player { 
    grid-area: top;
}

.grid-container {
  display: grid;
  grid-template-columns: 15% 6fr;
  grid-template-areas:
    'menu header header header header header '
    'menu ladder ladder ladder ladder ladder';
}

.header > h2 {
    color: black;
    text-align: center;
}

.header > h2, .header > h3 {
    margin: 10px;
}
.header > p {
    display: flex;
    justify-content: center;
    display: inline;
    padding: 100px;
}

img {
    width: 25px;
}

/*Leaderboard styling */
.crown {
    display: block;
    margin: auto;
    width: 10%;
}

#leaderboard > tr > td > a:hover {
    text-decoration: underline;
    color: darkblue;
    cursor: pointer;
    text-transform: uppercase;
}

.playerProfilePhoto {
    display: block;
    margin: auto;
    width: 30%;
    border-radius: 10px;
}
ul {
    padding: 0px;
}
td {
    padding: 1% 75px;
    gap: 10px;
}
tr{
    width: 100%;
}
tr:nth-child(even) {
    background-color: #eeeeee;
}

#top1, #top2, #top3 {
    border-radius: 20px;
    transition: all .2s ease-in-out;
}
#top1:hover, #top2:hover, #top3:hover {
    transform: scale(1.1);
}

.theUser {
    background-color: #fd4242;
    color: #fff;
    font-family: 'Lexend';
    font-weight: 600;
    font-size: 20px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    padding: 10px 15px 10px 15px;
    width: 164px;
    transition: 0.3s;
    float: right;
    margin-right: 20px;
}

@media screen and (max-width: 600px){
        .grid-container {
            display: grid;
            grid-template-columns: 100%;
            grid-template-areas:
            "header"
            "top"
            "ladder"
            "menu";
          }
    
        .sidebar {
            position: relative;
            width: auto;
        }
    
        #ranking {
            height: 400px;
        }
    
        .sidebar li {
            display: flex;
            justify-content: center;
            display: inline;
        }
    
        input {
            width: auto;
        }
    
        input:focus {
            width: auto;
        }
    
        li {
            margin: 0;
        }
    
    .grid-container	{
        grid-template-areas:
            'header'
            'top'
            'menu';
        grid-template-columns: auto !important;
        grid-template-rows: auto;
    } 
    #topPlayers {
        gap: 0px !important;
    }
    #top1, #top2, #top3 {
        border-radius: 50%;
        transition: all .2s ease-in-out;
    }
    #top3, #top2 {
        height: 100px;
        width: 100px;
    }
    #top1 {
        height: 120px;
        width: 120px;
    }
    .sidenav {
        position: fixed;
    }
    #topPlayers{
        display: flex;
        justify-content: center;
        font-weight: bold;
        padding: 5px; 
        gap: 10%;
    }
    #topPlayer > div{
        border-radius: 50%;
    }
    tbody > tr >td:nth-child(1) {
        display: none;
    }
    tbody > tr >td:nth-child(3) {
        display: none;
    }
    tbody > tr >td:nth-child(4) {
        display: none;
    }
    tbody > tr >td:nth-child(6) {
        display: none;
    }
    tr > #placement, #wins, #winRatio, #status {
        display: none;
    }
}