/* Desktop css*/
.grid-container {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 1fr;
    height: 100vh;
  }

#blur.active > *:not(#leaderboardpopup) {
    filter: blur(2px);
    transition: 1s;
}

#blur2.active > *:not(#addProfilePicturePopup) {
    filter: blur(2px);
    transition: 1s;
}

#leaderboardpopup{
    visibility: hidden;
    position: absolute;
    background-color: #fff;
    top: -20%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.30);
    padding: 30px 25px 50px 25px;
    transition: 1s;
    border-radius: 10px;
}

#leaderboardpopup.active{
    visibility: visible;
    position: absolute;
    background-color: #fff;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.30);
    padding: 30px 25px 50px 25px;
    transition: 1s;
}

#leaderboardpopup h1{
    text-align: center;
}

#join-club-input{
   border: none; 
   background-color: #dbdbdb;
   font-family: 'Lexend';
   padding: 0px 20% 0px 10px;
   border-radius: 5px;
   font-size: 15px;
}

#join-club-input:focus{
    outline: none; 
 }

#join-club-error{
    text-align: center;
    margin-top: 10px;
    color: #FF3366;
}

#join-club-success{
    text-align: center;
    margin-top: 10px;
    color: #5cff33;
}

#join-club-button{
    font-family: 'Lexend';
    font-style: normal;
    color: #fff;
    background-color: #66cccc;
    font-size: 18px;
    padding: 10px 10px 10px 10px;
    display: block;
    text-align: center;
    border: none;
    margin: auto;
    border-radius: 5px;
}

#join-club-button:hover{
    background-color: #54a8a8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
}

#leaderboardpopup p{
    color: #a5a5a5;
    text-align: center;
    width: 70%;
    margin: auto;
}

#popupfooter{
    margin-top: 50px;
}

#joinformfield{
    display: flex;
    flex-direction: row;
}

#createorg-btn{
    font-family: 'Lexend';
    font-style: normal;
    color: #fff;
    background-color: #66cccc;
    font-size: 20px;
    display: block;
    text-align: center;
    border: none;
    margin: auto;
    padding:10px 20px 10px 20px;
    border-radius: 10px;
    margin-top: 5px;
}

#createorg-btn:hover{
    background-color: #54a8a8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
}

#exitpopup {
    background-image: url(returnarrowblack.png);
    background-size: 100%;
    background-repeat: no-repeat;
    border: none;
    padding: 20px;
    background-color: #fff;
}

.sidenav {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    position: sticky;
}

#searchfield{
    grid-column: 1;
    position: absolute;
    visibility: hidden;
    margin-left: 15%;
    width: 0%;
    background-color: #fff;
    z-index: 1;
}

#searchfield input{
    width: 0%; 
    margin-top: 20%;
    outline: none;
    border: 0;
    border-bottom: 1px solid #cecece;
    font-family: 'Lexend';
    background-image: url(searchgrey.png);
    background-position: 10px 12px;
    background-repeat: no-repeat;
    background-size: 10% ;
    padding: 10px 0px 10px 50px;
    margin-left: 5%;
    font-size: 20px;
}

#searchfield.active{
    height: 100vh;
    position: absolute;
    visibility: visible;
    width: 17%;
    transition: 1s;
    border-right: 1px solid #ebebeb;
}

#leaderboardoptions{
    grid-column: 1;
    position: absolute;
    visibility: hidden;
    margin-left: 15%;
    width: 0%;
    background:rgba(226, 226, 226, 0.8);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    transition: background-color .3s cubic-bezier(.42, .00, .58, 1.00);
    z-index: 1;
}

#leaderboardoptions.active{
    height: 100vh;
    position: absolute;
    visibility: visible;
    width: 80px;
    transition: 1s;
    border-right: 1px solid #ebebeb;
}

.club-link img{
    height: 50px;
    width: 50px;
    border-radius: 100px;
    margin-left: 20%;
    background-color: #93b8b8;
    border: none;
}

.club-link:hover img{
    transition: 0.4s;
    border-radius: 14px;
}

#addserver{
    height: 50px;
    width: 50px;
    background-image: url(addblue.png);
    background-color: white;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 9px 9px;
    border-radius: 100px;
    border: none;
    margin-left: 20%;
    margin-top: 40%;
}

#addserver:hover {
    background-color: #66cccc;
    background-image: url(addwhite.png);
    transition: 0.4s;
    border-radius: 14px;
}

#findclub{
    background-color: #eeeeee;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    padding: 0px 10px 10px 10px;
}

#findclubtext{
    display: flex;
    flex-direction: column;
}

#findclubtext h2{
    text-align: unset;
    font-size: 16px;
    margin-left: 10px;
    margin-bottom: 0px;
}

#findclubtext p{
    color: #555557;
    text-align: unset;
    font-size: 12px;
    margin-left: 10px;
}

#rightarrowblack{
    height: 30px;
    width: 30px;
    margin-top: 6%;
}

#findclub #compasswhite{
    height: 40px;
    width: 40px;
    padding: 5px;
    background-color: #66cccc;
    background-repeat: no-repeat;
    border-radius: 100px;
    margin-top: auto;
}

#findclub:hover #compasswhite{
    border-radius: 14px;
    transition: 0.4s;
}

#findclub:hover{
    background-color: #e2e2e2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.4s;
}

#findserverpopup:hover {
    transition: 0.4s;
    border-radius: 14px;
}

#findserver {
    height: 50px;
    width: 50px;
    background-image: url(compassblue.png);
    background-color: white;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 9px 9px;
    border-radius: 100px;
    border: none;
    margin-left: 20%;
    margin-top: 10%;
}

#findserver:hover {
    background-color: #66cccc;
    background-image: url(compasswhite.png);
    transition: 0.4s;
    border-radius: 14px;
}

#searchfield.active input{
    width: 70%;
    transition: 0.7s;
}

#content {
    grid-column: 2;
    background-color: #fff;
}

#content.active {
    grid-column: 3;
    background-color: #fff;
}

html{
    font-family: 'Lexend';
    font-style: normal;
    background-color: #66cccc;
    overflow: hidden;
}

body{
    margin: 0;
}

#logo{        
    display: flex;
    flex-direction: row;
    color: #fff;
    margin-left: 10%;
    font-size: 35px;
}

.redDot {
    color: #FF3366;
}

.sidenav a{
    margin-bottom: 40px;
    color: #fff;
    font-size: 22px;
    margin-left: 5px;
}

#search{
    background-image: url(search.png);
    background-position: 10px 8px;
    background-repeat: no-repeat;
    background-size: 31px 31px ;
    padding: 10px 5px 10px 50px;
    width: 30%;
    text-decoration: none;
    border-radius: 15px;
}

#search.active{
    background-image: url(searchred.png);
    color: #FF3366;
    background-color: #fff;
    transition: 1s;
    background-size: 31px 31px ;
    width: 60%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#home.active{
    background-image: url(homered.png);
    color: #FF3366;
    background-color: #fff;
    transition: 1s;
    background-size: 31px 31px ;
    width: 60%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#home{
    background-image: url(navbarhome.png);
    background-position: 10px 8px;
    background-repeat: no-repeat;
    background-size: 31px 31px ;
    padding: 10px 5px 10px 50px;
    width: 30%;
    text-decoration: none;
    border-radius: 15px;
}

#leaderboards{
    background-image: url(podium.png);
    background-position: 10px 8px;
    background-repeat: no-repeat;
    background-size: 31px 31px ;
    padding: 10px 5px 10px 50px;
    width: 30%;
    text-decoration: none;
    border-radius: 15px;
}

#leaderboards.active{
    background-image: url(podiumred.png);
    color: #FF3366;
    background-color: #fff;
    transition: 1s;
    background-size: 31px 31px ;
    width: 60%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#challenges{
    background-image: url(pingpong2.png);
    background-position: 10px 8px;
    background-repeat: no-repeat;
    background-size: 31px 31px ;
    padding: 10px 5px 10px 50px;
    width: 30%;
    text-decoration: none;
    border-radius: 15px;
}

#challenges.active{
    background-image: url(pingpongred.png);
    color: #FF3366;
    background-color: #fff;
    transition: 1s;
    background-size: 31px 31px ;
    width: 60%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#profile{
    background-image: url(profile.png);
    background-position: 10px 8px;
    background-repeat: no-repeat;
    background-size: 31px 31px ;
    padding: 10px 5px 10px 50px;
    width: 30%;
    text-decoration: none;
    border-radius: 15px;
}

#profile.active{
    background-image: url(profilered.png);
    color: #FF3366;
    background-color: #fff;
    transition: 1s;
    background-size: 31px 31px ;
    width: 60%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* editProfile css */
#headerbackground{
    height: 200px;
    background: linear-gradient(180deg, rgba(102, 204, 204, 0.83) 0%, rgba(102, 204, 204, 0.21) 100%);
}

#headercontent{
    display: flex;
    flex-direction: row;
}

#headercontent p{
    margin-left: 20px;
    font-size: 25px;
}

#discorddetails{
    display: flex;
    flex-direction: row;
    background-color: #7c85f0;
    position: relative;
    color: #fff;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: -20px;
}

#discorddetails p{
    font-size: 14px;
    margin: auto 10px auto 10px;
}

#discordlogo{
    background-color: #5865F2;
    height: 20px;
    width: auto;
    padding: 10px 6px 10px 6px;
    border-radius: 10px;
}

#editdiscord{
    display: none;
    visibility: hidden;
    height: 30px;
    width: 30px;
    background-image: url(pencil-white.png);
    background-color: #7c85f0;
    background-size: 17px;
    background-repeat: no-repeat;
    border: none;
    background-position: 6px 6px;
    border-radius: 100px;
    margin: auto 5px auto -5px;
    transition: 0.5s;
}

#discordform{
    width: 200px;
}

#discordforminput{
    border: none;
    width: 100px;
    margin-left: 5px;
    font-size: 14px;
    color: white;
    font-family: 'Lexend';
    background-color: #7c85f0;
    position: absolute;
    margin-top: 10px;
    outline: none;
}

#editdiscord.active{
    display: unset;
    visibility: visible;
    transition: 0.5s;
}

#discordname{
    display: none;
    visibility: hidden;
    transition: 0.5s;
}

#discordname.active{
    display: unset;
    visibility: visible;
    transition: 0.5s;
}

#editdiscord:hover{
    background-color: #464c91;
    transition: 0.5s;
}

#savediscordname{
    width: 30px;
    height: 30px;
    background-image: url(uploaddiscordwhite.png);
    background-size: 30px;
    background-repeat: no-repeat;
    border: none;
    background-position: 0px 0px;
    border-radius: 100px;
    margin: auto auto auto 120px;
    transition: 0.5s;
    background-color: #7c85f0;
    position: relative;
}

#savediscordname:hover{
    background-color: #464c91;
    transition: 0.5s;
}

#exitdiscordform{
    width: 30px;
    height: 30px;
    background-image: url(exitdiscordwhite.png);
    background-size: 18px;
    background-repeat: no-repeat;
    border: none;
    background-position: 6px 6px;
    border-radius: 100px;
    margin: 5px 5px auto 0px;
    transition: 0.5s;
    background-color: #7c85f0;
    position: relative;
}

#exitdiscordform:hover{
    background-color: #464c91;
    transition: 0.5s;
}

#discordform{
    visibility: hidden;
    display: none;
}

#discordform.active{
    visibility: visible;
    display: unset;
}

#profile-image{
    margin-top: -40px;
    margin-left: 50px;
    position: relative;
    height: 158px;
    width: 158px;
    border-radius: 100px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 0;
}

#contentsections{
    display: flex;
    flex-direction: row;
}

#contentleft{
    display: flex;
    flex-direction: column;
}


#profile-card{
    margin: auto;
    background-color: #f2f2f2;
    height: 100vh;
}

#about{
    background-color: #fff;
    width: 500px;
    height: 200px;
    margin: 20px 50px 30px 50px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
}

#about h3{
    margin-left: 20px;
}

#aboutheader{
    display: flex;
    flex-direction: row;
}

#userDescription{
    display: flex;
    flex-direction: column;
    position: relative;
    width:460px;
    margin-left: -120px;
    margin-top: 44px;
    height: 140px;
}

#fetchedUserDescription{
    font-size: 14px;
    font-weight: 300;
    color: #2E3031;
}

#editUserDescriptionForm textarea{
    width: 460px;
    height: 140px;
    border: none;
    resize: none;
    outline: none;
    color: black;
    font-family: 'Lexend';
    font-weight: 100;
    display: none;
    visibility: hidden;
    position: absolute;
    margin-left: -10px;
    font-size: 14px;
}

#userDescription p{
    margin-left: 0px;
    margin-top: 0px;
}

#recentgames{
    background-color: #fff;
    width: 400px;
    height: 450px;
    margin: 20px auto 20px auto ;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#recentgames h3{
    margin-left: 20px;
}

#achievements{
    background-color: #fff;
    width: 500px;
    height: 200px;
    margin: 20px 20px 20px 50px ;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#achievements p{
    margin-left: 20px;
}

#matchhistorylist{
    height: 370px;
    width: 360px;
    margin: auto;
}

.match{
    border-bottom: 1px solid #93b8b8;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.match img{
    height: 50px;
    width: 50px;
    border-radius: 100px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.player{
    grid-column: 1 / span 1;
    margin: auto;
    width: 33.33%;
}

.results{
    grid-column: 2 / span 1;
    margin: auto;
    width: 33.33%;
}

.playername{
    margin: 5px -15px;
}

.opponent{
    grid-column: 3 / span 1;
    margin: auto;
    width: 33.33%;
}

.opponentname{
    margin: 5px -5px;
}

.opponentuserlink{
    text-decoration: none;
    color: #2E3031;
}

.opponentuserlink:hover p{
    color: #555557;
}

.win{
    color: #21B81E;
    margin-top: -10px;
}

.score{
    display: flex;
    flex-direction: row;
    margin-top: -10px;
}

.playersscore{ 
    margin-left: -25px;
}

.opponentscore{
    margin-left: 25px;
}

.divider{
    margin-left: 25px;
}

#addProfilePicturePopup{
    visibility: hidden;
    position: absolute;
    background-color: #fff;
    top: -20%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.30);
    padding: 30px 25px 50px 25px;
    transition: 1s;
    border-radius: 10px;
    width: 400px;
}

#addProfilePicturePopup.active{
    visibility: visible;
    position: absolute;
    background-color: #fff;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.30);
    padding: 30px 25px 50px 25px;
    transition: 1s;
}

#addProfilePicturePopup h1{
    margin-left: 70px;
    margin-top: -30px;
}

#uploadimageimg:hover {
    border-radius: 30px;
    transition: 0.5s;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    cursor: pointer;
    align-items: center;
}

#uploadimage{
    display: flex;
    flex-direction: column;
    margin: auto;
}

#uploadimageimg{
    background-color: #58b1b1;
    width: 50px;
    height: 50px;
    border-radius: 80px;
    padding: 50px;
    transition: 0.7s;
    margin: auto;
    margin-left: 120px;
}

#submitProfileImageButton{
    font-size: 20px;
    font-weight: 400;
    background-image: url(uploaddiscordwhite.png);
    background-size: 28px;
    background-repeat: no-repeat;
    background-position: 80px 4px;
    border: none;
    font-family: 'Lexend';
    padding: 5px 40px 5px 10px;
    background-color: #66cccc;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.5s;
    width: 120px;
    margin-left: 135px;
    margin-top: 30px;
}

#submitProfileImageButton:hover {
    background-color: #54a8a8;
    transition: 0.5s;
}


/* Mobile css */
@media screen and (max-width: 600px) {
    * {
      box-sizing: border-box;
    }
}