/* editProfile css */
#headerbackground{
    height: 200px;
    background: linear-gradient(180deg, rgba(102, 204, 204, 0.83) 0%, rgba(102, 204, 204, 0.21) 100%);
}

#headercontent{
    display: flex;
    flex-direction: row;
}

#challengebutton.active {
    color: #FF3366;
    font-family: 'Lexend';
    font-weight: 600;
    font-size: 20px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    padding: 10px 50px 10px 15px;
    background-image: url(ping-pong.png);
    background-size: 20% ;
    background-position: 120px 6px;
    background-repeat: no-repeat;
    right: 10%;
    margin-top: 50px;
    position: absolute;
    display: unset;
    transition: 0.3s;
}

#challengebutton{
    display: none;
}

#challengebutton:hover {
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
}

#cancelchallengebutton{
    background-color: #FF3366;
    color: #fff;
    font-family: 'Lexend';
    font-weight: 600;
    font-size: 20px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    padding: 10px 15px 10px 15px;
    right: 10%;
    margin-top: 50px;
    position: absolute;
    display: none;
    width: 164px;
    transition: 0.3s;
}

#cancelchallengebutton:hover{
    transition: 0.3s;
    background-color: #d32c56;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}

#cancelchallengebutton.active{
    display: unset;
}

#headercontent p{
    margin-left: 20px;
    font-size: 25px;
}

#discorddetails{
    display: flex;
    flex-direction: row;
    background-color: #7c85f0;
    position: relative;
    color: #fff;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: -20px;
}

#discorddetails p{
    font-size: 14px;
    margin: auto 10px auto 10px;
}

#discordlogo{
    background-color: #5865F2;
    height: 20px;
    width: auto;
    padding: 10px 6px 10px 6px;
    border-radius: 10px;
}

#editdiscord{
    display: none;
    visibility: hidden;
    height: 30px;
    width: 30px;
    background-image: url(pencil-white.png);
    background-color: #7c85f0;
    background-size: 17px;
    background-repeat: no-repeat;
    border: none;
    background-position: 6px 6px;
    border-radius: 100px;
    margin: auto 5px auto -5px;
    transition: 0.5s;
}

#discordform{
    width: 200px;
}

#discordforminput{
    border: none;
    width: 100px;
    margin-left: 5px;
    font-size: 14px;
    color: white;
    font-family: 'Lexend';
    background-color: #7c85f0;
    position: absolute;
    margin-top: 10px;
    outline: none;
}

#editdiscord.active{
    display: unset;
    visibility: visible;
    transition: 0.5s;
}

#discordname{
    display: none;
    visibility: hidden;
    transition: 0.5s;
}

#discordname.active{
    display: unset;
    visibility: visible;
    transition: 0.5s;
}

#editdiscord:hover{
    background-color: #464c91;
    transition: 0.5s;
}

#savediscordname{
    width: 30px;
    height: 30px;
    background-image: url(uploaddiscordwhite.png);
    background-size: 30px;
    background-repeat: no-repeat;
    border: none;
    background-position: 0px 0px;
    border-radius: 100px;
    margin: auto auto auto 120px;
    transition: 0.5s;
    background-color: #7c85f0;
    position: relative;
}

#savediscordname:hover{
    background-color: #464c91;
    transition: 0.5s;
}

#exitdiscordform{
    width: 30px;
    height: 30px;
    background-image: url(exitdiscordwhite.png);
    background-size: 18px;
    background-repeat: no-repeat;
    border: none;
    background-position: 6px 6px;
    border-radius: 100px;
    margin: 5px 5px auto 0px;
    transition: 0.5s;
    background-color: #7c85f0;
    position: relative;
}

#exitdiscordform:hover{
    background-color: #464c91;
    transition: 0.5s;
}

#discordform{
    visibility: hidden;
    display: none;
}

#discordform.active{
    visibility: visible;
    display: unset;
}

#profile-image{
    margin-top: -40px;
    margin-left: 50px;
    position: relative;
    height: 158px;
    width: 158px;
    border-radius: 100px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 0;
}

#contentsections{
    display: flex;
    flex-direction: row;
}

#contentleft{
    display: flex;
    flex-direction: column;
}


#profile-card{
    margin: auto;
    background-color: #f2f2f2;
    height: 100vh;
}

#about{
    background-color: #fff;
    width: 500px;
    height: 200px;
    margin: 20px 50px 30px 50px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
}

#about h3{
    margin-left: 20px;
}

#aboutheader{
    display: flex;
    flex-direction: row;
}

#userDescription{
    display: flex;
    flex-direction: column;
    position: relative;
    width:460px;
    margin-left: -120px;
    margin-top: 44px;
    height: 140px;
}

#fetchedUserDescription{
    font-size: 14px;
    font-weight: 300;
    color: #2E3031;
}

#userDescription p{
    margin-left: 20px;
    margin-top: 0px;
}

#recentgames{
    background-color: #fff;
    width: 40%;
    height: 450px;
    margin: 20px auto 20px auto ;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#recentgames h3{
    margin-left: 20px;
}

#achievements{
    background-color: #fff;
    width: 500px;
    height: 200px;
    margin: 20px 20px 20px 50px ;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#achievements p{
    margin-left: 20px;
    font-style: bold;
}

#matchhistorylist{
    height: 370px;
    width: 360px;
    margin: auto;
}

.match{
    border-bottom: 1px solid #93b8b8;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.match img{
    height: 50px;
    width: 50px;
    border-radius: 100px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.player{
    grid-column: 1 / span 1;
    margin: auto;
    width: 33.33%;
}

.results{
    grid-column: 2 / span 1;
    margin: auto;
    width: 33.33%;
}

.playername{
    margin: 5px -15px;
}

.opponent{
    grid-column: 3 / span 1;
    margin: auto;
    width: 33.33%;
}

.opponentname{
    margin: 5px -5px;
}

.opponentuserlink{
    text-decoration: none;
    color: #2E3031;
}

.opponentuserlink:hover p{
    color: #555557;
}

.win{
    color: #21B81E;
    margin-top: -10px;
}

.lost{
    color: #e22c1f;
    margin-top: -10px;
}

.score{
    display: flex;
    flex-direction: row;
    margin-top: -10px;
}

.playersscore{ 
    margin-left: -25px;
}

.opponentscore{
    margin-left: 25px;
}

.divider{
    margin-left: 25px;
}

#addProfilePicturePopup{
    visibility: hidden;
    position: absolute;
    background-color: #fff;
    top: -20%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.30);
    padding: 30px 25px 50px 25px;
    transition: 1s;
    border-radius: 10px;
    width: 400px;
}

#addProfilePicturePopup.active{
    visibility: visible;
    position: absolute;
    background-color: #fff;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.30);
    padding: 30px 25px 50px 25px;
    transition: 1s;
}

#addProfilePicturePopup h1{
    margin-left: 70px;
    margin-top: -30px;
}

#uploadimageimg:hover {
    border-radius: 30px;
    transition: 0.5s;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    cursor: pointer;
    align-items: center;
}

html, body {
    height: 100%;
    margin: 0;
  }

#uploadimage{
    display: flex;
    flex-direction: column;
    margin: auto;
}

#uploadimageimg{
    background-color: #58b1b1;
    width: 50px;
    height: 50px;
    border-radius: 80px;
    padding: 50px;
    transition: 0.7s;
    margin: auto;
    margin-left: 120px;
}

#submitProfileImageButton{
    font-size: 20px;
    font-weight: 400;
    background-image: url(uploaddiscordwhite.png);
    background-size: 28px;
    background-repeat: no-repeat;
    background-position: 80px 4px;
    border: none;
    font-family: 'Lexend';
    padding: 5px 40px 5px 10px;
    background-color: #66cccc;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.5s;
    width: 120px;
    margin-left: 135px;
    margin-top: 30px;
}

#submitProfileImageButton:hover {
    background-color: #54a8a8;
    transition: 0.5s;
}


/* Mobile css */
@media screen and (max-width: 600px) {
    * {
      box-sizing: border-box;
    }
}