html{
    font-family: 'Lexend';
    font-style: normal;
    background-color: #66cccc;
}
#description, #recentgames, #achievements {
    display: none;
  }

/* Mobile css */
@media screen and (max-width: 600px) {
    * {
      box-sizing: border-box;
    }

    html{
        background: linear-gradient(180deg, #66CCCC 16.15%, rgba(102, 204, 204, 0) 54.17%);
    }

    body{
        overflow: hidden;
        margin: 0px;
    }
    .grid-container {
        display: grid;
        grid-template-rows: 10% 90%;
        height: 100vh;
      }

    .sidenav{
        display: none;
    }
    
    header img{
        height: 50px;
        width: 50px;
    }
    header{
        grid-row: 1;
        vertical-align: middle;
        margin-top: 40px;
    }
    .profile-card {
        grid-row: 2;
    }

    .returnarrowwhite {
        margin-left: 20px;
        vertical-align: middle;
    }

    .challengebutton {
        color: #FF3366;
        font-family: 'Lexend';
        font-weight: 600;
        font-size: 15px;
        border: none;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 7px;
        padding: 10px 50px 10px 15px;
        background-image: url(ping-pong.png);
        background-size: 20% ;
        background-position: 100px 6px;
        background-repeat: no-repeat;
        float: right;
        vertical-align: middle;
        margin-right: 10px;
    }

    div {
        display: flex;
        flex-direction: column;
        
      }

    #profile-card{
        margin-top: 100px;
        text-align: center;
    }
    #profile-image{
        position: relative;
        align-items: center;
        margin: -170px auto auto auto;
        align-items: center;
    }
    #profile-head {
        padding: 100px 0px 5px 0px;
        background-color: #fff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        font-size: 20px;
        width: 80%;
        margin: auto;
        position: relative;
    }

    .profile-nav {
        background-color: #fff;
        border-top: 1px solid #E9E9E9;
        margin-bottom: 6px;
    }
    
    .profile-nav a{
        font-size: 13px;
        color: #A9A9A9;
        text-decoration: none;
    }

    .profile-nav a.active{
        color: #2E3031;
        font-weight: bold;
        cursor: default;
    }

    #about{
        background-color: #fff;
        padding-bottom: 400px;
        margin-top: 5px;
    }
    #recentgames{
        background-color: #fff;
        padding-bottom: 400px;
        margin-top: 5px;
    }
    #achievements{
        background-color: #fff;
        padding-bottom: 400px;
        margin-top: 5px;
    }
    
    #content {
        padding-top: 100px;
        background-color: #fff;
        margin-top: -100px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        width: 100%;
    }

    .slide-up {
        animation: slide-up 1s ease forwards;
      }
      
    .slide-down {
        animation: slide-down 1s ease forwards;
      }
      
      @keyframes slide-up {
        from {
          transform: translateY(100%);
        }
        to {
          transform: translateY(0);
        }
      }
      
      @keyframes slide-down {
        from {
          transform: translateY(0);
        }
        to {
          transform: translateY(100%);
        }
      }
}