/* Desktop css*/
.grid-container {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 1fr;
    height: 100vh;
  }

.sidenav {
grid-column: 1;
display: flex;
flex-direction: column;
}

header{
    margin-bottom: 50px;
}

#content {
grid-column: 2;
background-color: #fff;
}

html{
    font-family: 'Lexend';
    font-style: normal;
    background-color: #66cccc;
    overflow: hidden;
}

body{
    margin: 0;
}

#logo{        
    display: flex;
    flex-direction: row;
    color: #fff;
    margin-left: 10%;
    font-size: 35px;
}

.redDot {
    color: #FF3366;
  }

.sidenav a{
    margin-bottom: 40px;
    color: #fff;
    font-size: 22px;
    margin-left: 5px;
}

#search{
    background-image: url(search.png);
    background-position: 10px 8px;
    background-repeat: no-repeat;
    background-size: 25% ;
    padding: 10px 5px 10px 50px;
    width: 30%;
    text-decoration: none;
}

#search.active{
    background-image: url(searchred.png);
    color: #FF3366;
    border-radius: 15px;
    background-color: #fff;
    transition: 1s;
    background-size: 17% ;
    width: 60%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#home.active{
    background-image: url(homered.png);
    color: #FF3366;
    border-radius: 15px;
    background-color: #fff;
    transition: 1s;
    background-size: 17% ;
    width: 60%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#home{
    background-image: url(navbarhome.png);
    background-position: 10px 8px;
    background-repeat: no-repeat;
    background-size: 25% ;
    padding: 10px 5px 10px 50px;
    width: 30%;
    text-decoration: none;
}

#leaderboards{
    background-image: url(podium.png);
    background-position: 10px 8px;
    background-repeat: no-repeat;
    background-size: 25% ;
    padding: 10px 5px 10px 50px;
    width: 30%;
    text-decoration: none;
}

#leaderboards.active{
    background-image: url(podiumred.png);
    color: #FF3366;
    border-radius: 15px;
    background-color: #fff;
    transition: 1s;
    background-size: 17% ;
    width: 60%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#challenges{
    background-image: url(pingpong2.png);
    background-position: 10px 8px;
    background-repeat: no-repeat;
    background-size: 25% ;
    padding: 10px 5px 10px 50px;
    width: 30%;
    text-decoration: none;
}

#challenges.active{
    background-image: url(pingpongred.png);
    color: #FF3366;
    border-radius: 15px;
    background-color: #fff;
    transition: 1s;
    background-size: 17% ;
    width: 60%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#profile{
    background-image: url(profile.png);
    background-position: 10px 8px;
    background-repeat: no-repeat;
    background-size: 25% ;
    padding: 10px 5px 10px 50px;
    width: 30%;
    text-decoration: none;
}

#profile.active{
    background-image: url(profilered.png);
    color: #FF3366;
    border-radius: 15px;
    background-color: #fff;
    transition: 1s;
    background-size: 17% ;
    width: 60%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.returnarrowwhite{
    display: none;
}

.returnarrowblack{
    width: 5%;
    height: auto;
    margin-top: 40px;
    margin-left: 20%;
}

.challengebutton {
    color: #FF3366;
    font-family: 'Lexend';
    font-weight: 600;
    font-size: 20px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    padding: 10px 50px 10px 15px;
    background-image: url(ping-pong.png);
    background-size: 20% ;
    background-position: 120px 6px;
    background-repeat: no-repeat;
    float: right;
    margin-right: 20%;
    margin-top: 50px;
}

.challengebutton:hover {
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
}

#profile-card{
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    border: 1px solid #A9A9A9;
    width: 80%;
    margin: auto;
}

.slide-up {
    animation: slide-up 1s ease forwards;
  }
  
.slide-down {
    animation: slide-down 1s ease forwards;
  }
  
  @keyframes slide-up {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }
  
  @keyframes slide-down {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(100%);
    }
  }

  #about{
    background-color: #fff;
    padding-bottom: 400px;
    margin-top: 5px;
}
#recentgames{
    background-color: #fff;
    padding-bottom: 400px;
    margin-top: 5px;
}
#achievements{
    background-color: #fff;
    padding-bottom: 400px;
    margin-top: 5px;
}
/* Mobile css */
@media screen and (max-width: 600px) {
    * {
      box-sizing: border-box;
    }

    .returnarrowwhite{
        display: unset;
    }

    .returnarrowblack{
        display: none;
    }

    html{
        background: linear-gradient(180deg, #66CCCC 16.15%, rgba(102, 204, 204, 0) 54.17%);
    }
    
    body{
        overflow: hidden;
        margin: 0px;
    }
    .grid-container {
        display: grid;
        grid-template-rows: 10% 90%;
        grid-template-columns: 1fr;
        height: 100vh;
      }
        
    .sidenav{
        display: none;
    }
    
    header img{
        height: 50px;
        width: 50px;
    }
    
    header{
        grid-row: 1;
        vertical-align: middle;
        margin-top: 40px;
    }

    .profile-card {
        grid-row: 2;
    }

    #content{
        grid-column: unset;
        background-color: unset;
    }
    .returnarrowwhite {
        margin-left: 20px;
        vertical-align: middle;
    }

    .challengebutton {
        color: #FF3366;
        font-family: 'Lexend';
        font-weight: 600;
        font-size: 15px;
        border: none;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 7px;
        padding: 10px 50px 10px 15px;
        background-image: url(ping-pong.png);
        background-size: 20% ;
        background-position: 100px 6px;
        background-repeat: no-repeat;
        float: right;
        vertical-align: middle;
        margin-right: 10px;
        margin-top: auto;
    }

    div {
        display: flex;
        flex-direction: column;
        
      }

    #profile-card{
        margin-top: 100px;
        text-align: center;
    }
    #profile-image{
        position: relative;
        align-items: center;
        margin: -170px auto auto auto;
        align-items: center;
    }
    #profile-head {
        padding: 100px 0px 5px 0px;
        background-color: #fff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        font-size: 20px;
        width: 80%;
        margin: auto;
        position: relative;
    }

    .profile-nav {
        background-color: #fff;
        border-top: 1px solid #E9E9E9;
        margin-bottom: 6px;
    }
    
    .profile-nav a{
        font-size: 14px;
        color: #A9A9A9;
        text-decoration: none;
    }

    #aboutborder{
        border-right: 1px solid #E9E9E9;
        padding-right: 5px;
    }

    #recentgamesborder{
        border-right: 1px solid #E9E9E9;
        padding-right: 5px;
    }

    .profile-nav a.active{
        color: #2E3031;
        font-weight: bold;
        cursor: default;
        transition: 0.3s;
    }

    #about{
        background-color: #fff;
        padding-bottom: 400px;
        margin-top: 5px;
    }
    #recentgames{
        background-color: #fff;
        padding-bottom: 400px;
        margin-top: 5px;
    }
    #achievements{
        background-color: #fff;
        padding-bottom: 400px;
        margin-top: 5px;
    }
    
    #sectionlinks {
        padding-top: 100px;
        padding-bottom: 500px;
        background-color: #fff;
        margin-top: -100px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        width: 100%;
    }

    .slide-up {
        animation: slide-up 1s ease forwards;
      }
      
    .slide-down {
        animation: slide-down 1s ease forwards;
      }
      
      @keyframes slide-up {
        from {
          transform: translateY(100%);
        }
        to {
          transform: translateY(0);
        }
      }
      
      @keyframes slide-down {
        from {
          transform: translateY(0);
        }
        to {
          transform: translateY(100%);
        }
      }
}